<div class="single-product-area">
      <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
                <div class="container">
                    <div class="c-page-title c-pull-left">
                        <h3 class="c-font-uppercase c-font-sbold">Activate</h3>
                        <h4 class=""></h4>
                    </div>
                    <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                        <li class="c-state_active"></li>
                    </ul>
                </div>
            </div>
    <div class="container">
        <div class="row">
        <form id="membership_form" name="membership_form" method="POST" class="form-horizontal">
            <div id="loading" class="loader"></div>
            <div id="errors" class="error center"></div>                                   
            <div class="top20"></div>            
            
            {include file='../layouts/listplans.html'}           
            
            {$payment_form}
            
               {$activate_btn_form}   
            
            <span class="error" id="plan_error"></span>     
        </form>            
        </div>
    </div>
</div>
<div id="successPopup" class="modal fade" style="width: 660px;">
    <div class="modal-dialog" style="width: 660px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title success-popup-payment">Your account has been activated by submitting your card information successfully.</div>
            </div>
        </div>
    </div>
</div>

<div id="loadingPopup" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <div class="modal-title auth-msg">Just a moment... we're authenticating your card.<br/>Please don't refresh or close this page.</div>
                <div><img src="{$this->siteurl}/images/payment_loading.gif" alt="Loading" title="Loading" style="padding:5px;"/></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var action = 'activate';
    var btn = 'Activate';    
</script>
<script type="text/javascript" src="{$this->siteurl}/common/js/action.js"></script>