<div class="single-product-area transaction_details">
    <div class="container">
        <div class="row">  
            <h2>Transactions</h2>
            
            <table cellspacing="0" class="shop_table cart">
                <thead>
                    <tr>
                        <th class="product-name">Date</th>
                        <th class="product-name">Order</th>
                        <th class="product-price">Amount</th>
                        <th class="product-quantity">Paid For</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$transactions|json_decode item=transaction}
                    <tr class="cart_item">
                        <td class="product-remove">
                            {$transaction->transaction_date}
                        </td>

                        <td class="product-thumbnail">
                            {$transaction->order_number}
                        </td>

                        <td class="product-name">
                            {$transaction->amount}
                        </td>

                        <td class="product-price">
                            {$transaction->plan->plan_name}
                        </td>

                        <td class="product-quantity">
                            <a href="{$transaction->permalink}">Details</a>
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>            

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        {$pagination}
                    </nav>                        
                </div>
            </div>
        </div>        
    </div>
</div>