body{
    margin: 0;
    padding: 0;
}
.linebg{
    background-image: url("../images/line.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 1px;
    width: 100%;
    margin: 15px 0;
}
.freetrial{
    background-image: url(../images/BG.jpg);
    background-repeat: no-repeat;
    font-family: 'Open Sans',sans-serif;
    background-size: cover;
}
.frt_content_box{ margin-top: 35px}
.navbar{
    background: transparent none repeat scroll 0 0;
    padding-bottom: 5px;
}
.frtnavmob .container{
    padding-left: 25px !important;
    padding-right: 0 !important;
}
.navbar-nav{
    margin-top: 20px;
}
.navbar-inverse{
    border-color:transparent !important;
}
.navbar-inverse .navbar-nav > li > a{
    color:deepskyblue;
}
.navbar-inverse .navbar-nav > li > a {
    padding-top:0px !important;
    padding-bottom: 0px !important;
}
.nav li{
    border-right: solid 1px #0284AF;
}
.nav li:last-child{
    border: none;
}
.navbar-collapse{
    border-top:medium none;
    box-shadow:none;
}

.navbar-brand{
    padding: 15px 0 !important;
}


.frt_form{
    background-color: #ffffff;
    border-radius:10px;
    margin-bottom: 0px;
}
.frt_form h1{
    font-size: 24px;
    text-align: center;
}

.fg-line:not(.form-group) {
    display: inline-block;
    width: 100%
}

.fg-line {
    position: relative;
    vertical-align: top
}

.form-control {
    color: #333;
    box-shadow: none !important;
    resize: none;
    border-radius: 0
}

.form-control:not(.fc-alt) {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.fg-line:not([class*=has-]):after {
    background: #2cb7f6
}

.fg-line:not(.disabled):after,
.fg-line:not(.readonly):after {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    content: "";
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms
}

.fg-line.fg-toggled:after {
    width: 100%
}

.fg-line:not([class*=has-]):after {
    background: #2196f3
}

.fg-float .fg-label {
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    position: absolute;
    top: 5px;
    font-weight: 600;
    color: #000;
    pointer-events: none;
    z-index: 0;
    left: 0;
    white-space: nowrap
}
.fg-float .fg-label-domain {
    top: -10px !important;
}

.form-group {
    margin-bottom: 15px
}

.fg-float {
    margin-top: 5px;
    position: relative
}
.nxtbtnbox {
    margin-top: 15px;
}
.fg-float .form-control {
    position: relative;
    background: transparent;
    z-index: 1
}

.fg-float .fg-toggled .fg-label {
    top: -10px;
    font-size: 11px
}
.hintlbl{
    font-size:13px;
    font-weight: normal;
    padding-top: 5px;
    font-style: italic;
    margin-bottom: 0;
}

.hintlbl2{
    font-size:11px;
    font-weight: normal;
    font-style: italic;
}
.domain-url {
    font-style: normal;
}
.hintlbl3{
    font-size:12px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
}
.frt_btn{
    width: 100%;
    background-color: #0CB9F2 !important;
    border-color: #0CB9F2 !important;
}
.termservice{
    color:#0CB9F2;
}
.termservice:hover{
    color:#0CB9F2;
}

.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}

.radio label,
.checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9
}

.radio+.radio,
.checkbox+.checkbox {
    margin-top: -5px
}

.radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer
}

.radio-inline+.radio-inline,
.checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 10px
}

.checkbox .input-helper:before,
.radio .input-helper:before {
    left: 0;
    border: 1px solid #86868f
}

.checkbox .input-helper:before {
    top: 2px;
    width: 17px;
    height: 17px
}

.checkbox .input-helper:before,
.radio .input-helper:before,
.checkbox .input-helper:after,
.radio .input-helper:after {
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    content: ""
}

.checkbox .input-helper:after {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0) rotate(80deg);
    -ms-transform: scale(0) rotate(80deg);
    transform: scale(0) rotate(80deg);
    width: 22px;
    height: 9px;
    border-bottom: 2px solid #2cb7f6;
    border-left: 2px solid #2cb7f6;
    border-bottom-left-radius: 2px;
    left: -1px;
    top: 1px
}

.checkbox input:checked+.input-helper:after {
    -webkit-transform: scale(1) rotate(-50deg);
    -ms-transform: scale(1) rotate(-50deg);
    transform: scale(1) rotate(-50deg);
    opacity: 1;
    filter: alpha(opacity=100)
}

.checkbox input:checked+.input-helper:before {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.radio .input-helper:before {
    top: -1px;
    width: 19px;
    height: 19px;
    border-radius: 50%
}

.radio .input-helper:after {
    width: 11px;
    height: 11px;
    background: #2cb7f6;
    border-radius: 50%;
    top: 3px;
    left: 4px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.radio input:checked+.input-helper:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer
}

.checkbox-inline,
.radio-inline {
    vertical-align: top;
    margin-top: 0;
    padding-left: 25px
}

.radio-inline+.radio-inline,
.checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 10px
}

.checkbox input,
.radio input {
    top: 0;
    left: 0;
    margin-left: 0 !important;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 0
}

.frt_lft_box{
    padding-top: 50px;
}
.frt_rht_box {
    float: right;
}
.frt_hdng1{
    color: deepskyblue;
    font-size: 25px;
}
.frt_list_box{
    margin-top: 20px;
}
.frt_list_box > div::before {
    content: '';
    position: absolute;
    left: 15px;
    width: 15px;
    height: 15px;
    margin-top: 14px;
    background: url(../images/Bullet-1.png);
    border-radius: 32%;

}
.frt_list{
    color: #ffffff; 
    font-size: 15px; 
    padding-left:30px;
    line-height: 41px;
}
.frt_hdng2{
    color: deepskyblue;
    font-size: 20px;
    margin-top: 20px;
}
.frt_hdng2 a{
    color: deepskyblue;
    font-size: 20px;
    margin-top: 90px;
    text-decoration: none;
}
.frt_additional_txt{
    font-style: italic;
    color: #646464;
}

.owl-theme{
    vertical-align: middle !important;
}

.frt_testimonial_img{
    border-radius: 1000px;
    height: 50px;
    width: 50px !important;
    display: inline-block !important;
}
.frt_testimonial_txt{
    text-align: center;
    padding: 10px 0;
    font-style: italic;
    font-size: 15px;
}
.frt_testimonial_title{
    font-weight: 600;
    padding-left: 10px;
}
.frt_footer_box{margin-bottom: 20px;}
.frt_footer_box1{margin-top: 20px;}
.frt_footer_box2{margin-top: 40px; border-right: solid 1px #ccc; height: 150px;}
.frt_footer_box3{margin-top: 30px;}


.frt_steps_box{width: 75px; margin: 12px auto 35px;}
.frt_steps_box1{width: 48%; height: 5px; float: left;}
.frt_steps_box1_color{background: #00BFFF;}
.frt_steps_box2{width: 48%; height: 5px; float: right;}
.frt_steps_box2_color{background: #ddd;}

.frt_steps_box111{width: 120px; margin: 12px auto 35px;}
.frt_steps_box11{width: 32%; height: 5px; float: left; margin-right: 1.5px;}
.frt_steps_box11_color{background: #00BFFF;}
.frt_steps_box21{width: 32%; height: 5px; float: left;}
.frt_steps_box21_color{background: #ddd;}
.frt_steps_box31{width: 33%; height: 5px; float: right;}
.frt_steps_box31_color{background: #ddd;}

.frt_sub_heading{
    color: deepskyblue;font-style: italic;text-align: center;font-size:12pt;
}
.frt_sub_heading2{
    font-style: italic;text-align: center;font-size:12pt;
}
.platform {cursor: pointer;}
.platform img{height: 22px;}
.platform_selected{color: deepskyblue;}
.platform_chkbox{opacity: 0; }
.platformbox{margin: 10px 0}
.platform_title{font-weight: 600; padding-top: 0px; padding-bottom: 0px;}





.progress {
    margin: 5px 50px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 14px !important;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    height: 15px;
}
#myProgress {
    width: 100%;
    background-color: #ddd;
    border-radius: 14px !important;
}

#myBar {
    width: 10%;
    height: 15px;
    text-align: center;
    line-height: 20px;
    color: white;
    background-color: #337ab7;
    border-radius: 14px !important;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    font-weight: 600;

} 

.setting_heading{
    color: #00ccff;
    font-size: 18pt;
    padding: 20px 0;
    text-align: center;
}
.percentage{
    float: right;
    color: #00ccff; 
    padding-right: 30px;
    font-weight: 600;
}
.col-md-5.col-sm-5.rotate{
    float: right;
}
/*round circle css start*/
.rotatebox{
    background-image: url("../images/gear_animation.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 solid #ccc;
    height: 188px;
    margin: 40px auto;
    position: relative;
    width: 188px;
}
.rotatebox img{width: 100%;}
/*round circle css end*/

.signup_laststep_list > .signup_laststep_list1::before {
    content: '';
    position: absolute;
    left: 15px;
    width: 15px;
    height: 15px;
    margin-top: 3px;
    background: url(../images/Bullet-1.png);
}
.signup_laststep_list1{
    padding: 7px 10px 7px 25px;
}
.signup_laststep_list > .signup_laststep_list2::before {
    background: rgba(0, 0, 0, 0) url("../images/gif-load.gif") no-repeat scroll 0 0 / 100% auto;
    content: "";
    height: 34px;
    left: 15px;
    margin-top: 3px;
    position: absolute;
    width: 15px;
}
.signup_laststep_list2{
    padding: 7px 10px 7px 25px;
}

.signup_laststep_list3{
    padding: 7px 10px 7px 25px;
}
.signup_laststep_padd{
    padding-bottom:50px;
}

/* how it work video section css start*/
.close {
    background: transparent none repeat scroll 0 0;
    color: #aaa;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    /*margin-top: -27px;*/
    opacity: 1;
    position: absolute;
    right: 0px;
    top:-10px;
    text-shadow: 0 1px 0 #fff;
    z-index: 9999 !important;
}
.modal-content {
    background-color: #ececec;
    /*border: 1px solid #bdc3c7;*/
    border-radius: 0px;
    outline: 0;
}  

.owl-theme .owl-nav{
    margin-top: -10px !important;
    position: absolute;
    width: 100%;
}
.owl-prev{float: left;}
.owl-next{float: right;}
.owl-theme .owl-nav [class*="owl-"]{
    background: transparent !important;
}

.footer-4 {
    background: #282a2b;
    padding-top:15px;
}
.footer-details i{
    font-size: 22px;
    line-height: 40px;
}
.footer-details p{
    color:#565656;
}
.footer-list ul li a{
    color:#b5b5b5;
    line-height:30px;
    font-size: 16px;
}
.last-footer-links ul li a{
    color:#565656;
    font-size: 16px;
}
.last-footer-links ul li a:hover{
    color: #1ac6ff !important;
    text-decoration: none;
}
.footer-list ul li a:hover{
    color:#21c2f8;
}
.blue{
    color:#21c2f8;
}
.social-icon li{
    border-radius: 50%;
    border: 1px solid #616161;
    width: 38px;
    height: 38px;

    margin: 2px;
}
.social-icon li a{
    color: #616161;
}
.social-icon li a:hover, a:hover, a i:hover{
    color: #1ac6ff;
}
.last-footer-links ul li a {
    color: #565656 !important;
    font-size: 14px !important;
}

.hideloader{
   opacity: 0; 
   position: absolute; 
}
.showloader{
   opacity: 1; 
   position: relative; 
   margin-bottom: 30px;
}

@media only screen and (min-width: 991px) and (max-width:1199px){ 
    .platform{font-size: 13px;}
}
@media only screen and (min-width: 768px) and (max-width:1199px){ 
    .frt_hdng2{padding-bottom: 25px;}
}
@media (max-width: 991px) {
    .home{display: none;}
    .navbar-inverse .navbar-nav > li > a {
        padding-bottom: 0 !important;
        padding-left: 0;
        padding-right: 10px;
        padding-top: 0 !important;
    }
    .navbar-brand > img{
        width: 90%;
    }
    .frt_content_box{
        margin-top: 35px;
    }
    .frt_lft_box{
        padding-top: 0px;
    }

}
@media only screen and (max-width: 768px) {
    .nav > li{  display: inline-block;}
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header{
        display: inline-block;
        margin-right: 0px;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        float: right;
        margin-right: 15px !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .frt_form{
        margin-bottom: 30px;
    }
    .freetrial{
        background-image: url(../images/mobile_bg.jpg);
        background-position: center bottom;
    }
    .navbar{
        background: transparent none repeat scroll 0 0;
    }
    .collapse{display: block;}
    .nav > li{  display: inline-block;}
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header{
        display: inline-block;
        margin-right: 0px;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        float: right;
        margin-right: 15px !important;
    }

    .navbar-inverse .navbar-nav > li > a {
        padding-left: 20px;
        padding-right: 20px;
    }

    .frt_content_box{ margin-top: 10px}
    .frt_rht_box {
        float: none;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 35px;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .frt_lft_box{
        padding-bottom: 40px;
    }
    .frt_footer_box2{
        border: none;
        border-top: solid 1px #ddd;
        height: 0px;
    }
    .footer-details{
        text-align: center;
    }
    .col-md-5.col-sm-5.rotate{
        float: none;
    }
}
@media only screen and (max-width: 560px) {
    .navbar-brand > img{
        width: 80%;
    }
    .navbar-inverse .navbar-nav > li > a {
        padding-left: 12px;
        padding-right: 12px;
    }
}
@media (min-width: 436px) and (max-width: 475px) {
    #removeli2{display: inline-flex;}
    #removeli4{display: inline-flex;}
    .navbar-inverse .navbar-nav > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media only screen and (max-width: 436px) {
    #removeli2{display: none;}
    #removeli4{display: none;}
}
@media only screen and (max-width: 360px) {
    .navbar-inverse .navbar-nav > li > a {
        padding-left: 7px;
        padding-right: 7px;
    }

    .platform{font-size: 12px;}
    .frt_rht_box{ padding-top:10px; }
    .frt_form h1{font-size: 22px;}
    .rotatebox{
        width: 100px;
        height: 100px;
    }
}
