{include file='../layouts/banner.html'}
<div class="container">
    <div class="wrapper">
        {foreach from=$sections|json_decode item=section}  
        {if $section->total > 0}
        <div class="row top20">
            <div class="col-md-9">
                <div class="title1">{$section->title|utf8_decode}</div>
            </div>
        </div>
        <div class="row list_page">

            {foreach from=$section->contents item=content}
            <div class="col-md-5ths col-xs-6">
                <div class="thumbnail">
                    <a href="{$content->permalink}" >
                        <div class="play-box"> <img src="{$content->poster}" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}" >
                            <div class="thumb-bg"></div>
                            {if $content->play_btn != '' }<div class="play-btn">{$content->play_btn}</div>{/if}

                            <div class="thumb-time-line"><span class="font-200 f-10">{$content->release_date|utf8_decode}</span><span class="pull-right font-200 f-10 m-t-5">{$content->video_duration}</span></div>
                        </div></a>
                    <div class="caption">
                        <h3 class="caption_title"><a href="{$content->permalink}">{if $content->title|count_characters > 18}{$content->title|truncate:28|utf8_decode}{else}{$content->title}{/if}</a></h3>
                        <p class="caption_genre">{if $content->genres|@count > 0}{$genre_count = $content->genres|count}
                            {$j=0}
                            {foreach from=$content->genres item=genre}
                            {$genre}{$j = $j+1}{if $j != $genre_count},{/if}{/foreach}{/if}</p>
                    </div>
                    </a>
                </div>
            </div>
            {/foreach}
        </div>
        <div id="loader" class="loader"></div>           
        {/if}
        {/foreach} 
    </div>
</div>
