<div class="row">
    <div class="col-md-12">
        <ul class="list-inline top10p">
            <li>
                <h5 class="text-uppercase">{$this->Language['login']}</h5></li>
            <li class="meta-info">{$this->Language['dont_have_account']}  <a  href="javascript:void(0);" onclick="showRegisterModal();" class="text-uppercase">{$this->Language['btn_signup']}</a></li>
        </ul>
    </div>
    <input type="hidden" id="movie_id" value="" />
    <input type="hidden" id="stream_id" value="" />
    <input type="hidden" id="season_id" value="" />
    <input type="hidden" id="isppv" value="" />
    <input type="hidden" id="videotype" value="" />
    <input type="hidden" id="content-permalink" value="" />
    <input type="hidden" id="content-type-permalink" value="" />
    <input type="hidden" id="is_ppv_bundle" value="" />
    <input type="hidden" id="isadv" value="" />
    {if $this->studio->social_logins}
    {if isset($smarty.session.social) } 
    {assign var=socialAuth value=$smarty.session.social}
    {else}
    {assign var=socialAuth value=$this->getSocialUrls()}
    {/if}
    {if $socialAuth}
    <div class="col-md-12">
        {if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
        <a  href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="0" class="login-fb btn as-btn-lg btn-block facebook_login  text-uppercase"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/Facebook-Icon.png"> {$this->Language['login_facebook']}</a>      
        {/if}
    </div>
    <div class="col-md-12">
        <div class="gray text-center  text-uppercase">-{$this->Language['or']}-</div>
    </div>
{/if}
    {/if}
    <div class="col-md-12">
        <input type="hidden" value="" id="play_url" />
        <input type="hidden" value="" id="to_play" />
        <form name="login-form" id="login-form" method="post" >
            <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
            <div class="loginerror error-text text-center" id="login_errors"></div>

            <div class="form-group bottom10p">
                <input type="email" name="LoginForm[email]" id="username" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" value="" />
            </div>
            <div class="loader" id="login-loading"></div>

            <div class="form-group bottom45p">
                <input type="password" name="LoginForm[password]" id="password" placeholder="{$this->Language['text_password_placeholder']}" autocomplete="off" class="form-control" />
            </div>

            <button type="submit" class="btn as-btn-accent as-btn-md center-block top10p loginbtn" name="login_submit" id="loginbtn">{$this->Language['btn_login']}</button>
            <ul class="list-inline  text-center top15p">
                <li class="meta-info">{$this->Language['forgot_password']}<a href='{$this->siteurl}/user/forgot'> RESET</a>
                </li>
            </ul>
        </form>
    </div>

</div>