<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$this->Language['activate_plan']}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper bottom-padding50"> 
        <div class="row top20">
            <div class="col-md-12 activate_member">
                <form id="membership_form" name="membership_form" method="POST" class="form-horizontal">
                    <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                    <div id="loading" class="loader"></div>
                    <div id="errors" class="error center"></div>                                   
                    <div class="top20"></div>            
                    <div {if $gateways[0]->short_code == "ippayment"} class="col-md-12" {else} class="col-md-6" {/if}>{include file='../layouts/listplans.html'}</div>
                    {if $gateways[0]->short_code == "ippayment"}
                    <div class="form-group">
                        {$activate_btn_form}   
                            </div>
                    {else}
                    <div class="col-md-6 payment_form">{$payment_form}</div>

                    <div class="form-group">
                        {$activate_btn_form}   
                            </div>
                    {/if}
                    <div class="clear"></div><br>


                    <span class="error" id="plan_error"></span>     
                </form>   
            </div>
        </div>
    </div>
</div>

<div id="successPopup" class="modal fade" >
    <div class="modal-dialog" style="width: 660px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title success-popup-payment">{$this->Language['account_activate_after_card_submit']}</div>
            </div>
        </div>
    </div>
</div>

<div id="loadingPopup" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <div class="modal-title auth-msg">{$this->Language['auth_your_card']}</div>
                <div><img src="{$this->siteurl}/images/payment_loading.gif" alt="Loading" title="Loading" style="padding:5px;"/></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var action = 'activate';
    var btn = 'Activate';
</script>
<script type="text/javascript" src="{$this->siteurl}/common/js/action.js"></script>