<link rel="stylesheet" href="{$this->siteurl}/css/cropper.min.css" type="text/css" />
<link rel="stylesheet" href="{$this->siteurl}/css/crop-avatar.css" type="text/css" />
<script type="text/javascript" src="{$this->siteurl}/common/js/crop-avatar.js"></script>
<script type="text/javascript" src="{$this->siteurl}/common/js/cropper.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$this->Language['profile_details']}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container profile_details">
    <div class="wrapper bottom-padding50">
                

        <div class="row">
            <div id="crop-avatar">
                <div id="myflashwrapper" style="display: none"></div>
                <div class="row-fluid">
                    <div class="col-md-12 top50">
                        <div class="form-signin">
                            <form id="user-account-form" method="POST">
                                <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                                <div class="alert-msg in  fade alert-success" id="success_message" style="display: none;"></div>
                                <div class="title1 font-17">{$this->Language['account_info']}</div>

                                <div id="profile-errors" class="error center"></div>
                                <div id="profile-loading" class="loader"></div> 

                                <div class="col-md-6 bottom20 top20">
                                    <div class="form-group">
                                        <div class="icon-addon addon-lg">
                                            <input required type="text" class="form-control" value="{$user->display_name}" placeholder="{$this->Language['text_name_placeholder']}" name="name" id="name" />
                                            <label for="exampleInputEmail2"><i class="fa fa-user"></i></label>
                                        </div>
                                    </div>    
                                </div>


                                <div class="col-md-6 bottom20 top20">
                                    <div class="form-group">
                                        <div class="icon-addon addon-lg">
                                            <input readonly type="text" class="form-control" value="{$user->email}" placeholder="{$this->Language['text_email_placeholder']}" name="email" id="email" />
                                            <label for="exampleInputEmail2"><i class="fa fa-envelope-o"></i></label>
                                        </div>
                                    </div> 
                                </div>

                               <div class="clearfix"></div>
                                <div class="col-md-6 bottom20 top10">
                                    <div class="form-group">
                                        <div class="icon-addon addon-lg">
                                            <input type="password" class="form-control" placeholder="{$this->Language['text_password_placeholder']}" name="new_password" id="new_password" />
                                            <label for="exampleInputPassword2"><i class="fa fa-lock"></i></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 bottom20 top10">
                                    <div class="form-group">
                                        <div class="icon-addon addon-lg">
                                            <input type="password" class="form-control" placeholder="{$this->Language['confirm_password']}" name="confirm_password" id="confirm_password" />
                                            <label for="exampleInputPassword2"><i class="fa fa-lock"></i></label>
                                        </div>
                                    </div>
                                </div>
                               <div class="col-md-12 bottom20 top10">
                                    <div class="form-group">
                                        <div class="icon-addon addon-lg">
                                        {if ($user->announcement_subscribe)}
                                                <label><input name="subscribe_newsletter"  value="1" type="checkbox" checked="checked" /> &nbsp;{$this->Language['subscribe_to_announcement']}</label>  
                                            {else}
                                                <label><input name="subscribe_newsletter"  value="1" type="checkbox"  /> &nbsp;{$this->Language['subscribe_to_announcement']}</label>  
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 bottom20 top10">
                                    <div class="form-group">
                                        <div class="controls pull-right">
                                            <button id="update-btn" class="btn btn-primary btn-green-small" type="submit"> <i class="fa fa-pencil-square-o padding-right-10"></i>{$this->Language['btn_update_profile']}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>               
                </div>

                <div class="clear"></div>
                <!-- Cropping modal -->
            <!-- /.modal -->
            </div>            
        </div>
    </div>
</div>
