<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 class="center white">{$this->Language['reactivation']}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="container">
        <div class="wrapper">
            <div class="row top20">
                <p class="padding-left-20">{$this->Language['thanks_for_coming_bank']}</p>
                <p class="padding-left-20">{$this->Language['choose_plan_and_payment_info']}</p><br />  
                <form id="membership_form" name="membership_form" method="POST" class="form-horizontal">
                    <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                    <div id="loading" class="loader"></div>
                    <div id="errors" class="error center"></div>                                   

                    <div class="col-md-6">
                        {include file='../layouts/listplans.html'}            
                    </div>

                    <div class="col-md-6 payment_form">
                        {$payment_form}
                    </div>


                     {$activate_btn_form}   

                    <div class="clear"></div><br>
                    <span class="error" id="plan_error"></span>     
                </form>            
            </div>
        </div>
    </div>
</div>
<div id="successPopup" class="modal fade" >
    <div class="modal-dialog" style="width: 660px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title success-popup-payment">{$this->Language['account_reactivate_after_card_submit']}</div>
            </div>
        </div>
    </div>
</div>

<div id="loadingPopup" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <div class="modal-title auth-msg">{$this->Language['auth_your_card']}</div>
                <div><img src="{$this->siteurl}/images/payment_loading.gif" alt="Loading" title="Loading" style="padding:5px;"/></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var action = 'reactivate';
    var btn = 'Reactivate';
</script>
<script type="text/javascript" src="{$this->siteurl}/common/js/action.js"></script>