<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 class="center white">{$this->Language['create_account_now']}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="single-product-area ">
    <div class="container">
        <div class="wrapper bottom-padding50">
            <div class="row top20 ">
               <div class="col-md-12 bottom20">
                <div class="title1">{$this->Language['register_with_details']}</div>
                </div>
                <form id="membership_form" name="membership_form" method="POST" class="form-horizontal register_step">
                    <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                        {if $this->studio->social_logins}
                    <div class="col-md-12 bottom50">
                         
                        {if isset($smarty.session.social) } 
                        {assign var=socialAuth value=$smarty.session.social}
                        {else}
                        {assign var=socialAuth value=$this->getSocialUrls()}
                        {/if}
                        {if $socialAuth}
                        {if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
                        <p class="top20 img-responsive"><a href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login ="0" class="facebook_login facebook social_login"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/signin-fb.png" class="social_image"></a></p>
                        {/if}
                        {if ($this->studio->social_logins & 2) && $socialAuth['gplus_url'] }
                        <p class="top20 img-responsive"><a href="{$socialAuth['gplus_url']}"  data-movieId=""  class="facebook_login"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/google_signup.png" class="social_image"></a></p>
                        {/if} 
                        {/if}
                        <div id="login_errors" class="error"></div>
                    </div>
                       {/if}

                    <div id="membership_loading" class="loader"></div>
                    <div id="errors" class="error center"></div>  
                    <div class="col-md-6 bottom20">
                        <div class="icon-addon addon-lg">
                            <input type="text" class="form-control" autocomplete="off" placeholder="{$this->Language['text_name_placeholder']}" id="name" name="data[name]" required />
                            <label for="exampleInputEmail2"><i class="fa fa-user"></i></label>
                        </div>
                    </div>
                    <div class="col-md-6 bottom20 ">
                        <div class="icon-addon addon-lg">
                            <input type="email" class="form-control" autocomplete="off" placeholder="{$this->Language['text_email_placeholder']}" id="email_address" name="data[email]" required />

                            <label for="exampleInputEmail2"><i class="fa fa-envelope-o"></i></label>
                        </div>
                    </div>
                    <div class="loader" id="register-loading"></div>
                    <div class="col-md-6 bottom20 top20">
                        <div class="icon-addon addon-lg">
                            <input type="password" class="form-control" autocomplete="off" placeholder="{$this->Language['text_password_placeholder']}" id="join_password" name="data[password]" required />
                            <label for="exampleInputPassword2"><i class="fa fa-lock"></i></label>
                        </div>
                    </div>
                    <div class="col-md-6 bottom20 top20">
                        <div class="icon-addon addon-lg">
                            <input type="password" class="form-control" autocomplete="off" placeholder="{$this->Language['confirm_password']}" id="confirm_password" name="data[confirm_password]" required />
                            <label title="Confirm Password" rel="tooltip" for="exampleInputPassword2"><i class="fa fa-lock"></i></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 bottom20 top10 text-left">
                        <label> 
                            <input name="data[subscribe_newsletter]"  value="1" checked="checked" type="checkbox"> &nbsp;{$this->Language['subscribe_to_announcement']} 
                        </label>  
                    </div>                       
                    <div class="col-md-6 bottom20 top10 text-left">
                        <label>
                            {$this->Language['chk_over_18']} <span class="light-green-color"><a href="{$this->siteurl}/page/terms-privacy-policy">{$this->Language['terms']}</a></span>
                        </label>
                    </div>

                    <div class="col-md-6 bottom20 top50 text-right">
                        <button id="register_membership" class="btn btn-primary" onclick="validateSignupStep1Form();"><i class="fa fa-rocket padding-right-10" aria-hidden="true"></i>{$this->Language['btn_register']}</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    var action = 'saveuser';
    var btn = 'Register';
</script>
<script type="text/javascript" src="{$this->siteurl}/common/js/action.js"></script>