@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body
	{
		font-family: 'Open Sans', sans-serif;
		background:url(../images/orange-purple/bg.jpg) repeat-y;
		color:#fff;
	}
a {
    color: #fff;
    text-decoration: none;
}
.input-lg {
    border:2px #f17f00 solid;
}
.width-6{width:44%; float:left;}
label {
	color:#f17f00;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #ED4D09;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 0 15px;
}
  .navbar-wrapper {
                 border-bottom:4px solid #ed5915;
                 background: #b3d1f3 url('../images/orange-purple/header_bg.png') repeat-x;
                 padding: 20px 0px;
  }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color:transparent;
    color: #f17f00;
}
.navbar-inverse {
    background-color:transparent;
    border-color:0px #080808;
	text-transform:uppercase;
}


.carousel-inner{border-bottom: 3px solid #ED5915;}
.logo{
	background:url(../images/orange-purple/logo.png) no-repeat;
	}

.btn-primary {
    background-color: #f17f00;
    color: #fff;
    border: none;
}
.btn-primary:hover {
    color: #fff;
   background-color: #f17f00;  
}
.btn-primary2 {
    background-color: #f17f00;
    color: #fff;
    
}
.btn-primary2-gray {
    background-color: transparent;
    border:3px #ed590f solid;
    color: #ed590f;
}
.btn-primary2-mid {
    background-color: transparent;
    border:3px #ed590f solid;
    color: #ed590f;
}
.btn-primary2:hover {
background: #286090;
color: #fff;
}


.jumbotron {
    background-color: #f17f00;
    color: inherit;

	
}
.video-text
	{
		color:#fff;

	}
.header-text{ color: #fff;}

 
.caption {
    background:rgba(66, 139, 202, 0.75);
    color:#fff !important;
}

.jumbotron2 {
        color: #fff;
	background:#130040;
}
.footer-border
	{
		background:#ed590f;
	}
.footer-link
	{
		color:#333;
	}
.footer-link ul
	{
		color:#333;
	}
.footer-link ul li
	{
		color:#333;
	}
.footer-link ul li a
	{
		color:#fff;
	}
.footer-link ul li a:hover
	{
		color:#333;
	}
.cyan
	{
		color:#f17f00;
	}

	
.bs-docs-header, .bs-docs-masthead {
    background: #0B022F;
    /*background-image: linear-gradient(to bottom, #563d7c 0px, #6f5499 100%);*/
    background-repeat: repeat-x;
    color: #cdbfe3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}

.bs-docs-masthead h1 {
    color: #fff;

}
.bs-docs-masthead .lead {
    color: #fff;

}


.bg-white
	{
		background:transparent;
	}
.white
	{
		color:#fff;
	}
.orange
	{
		color:#f17f00;
	}

.img-border{ border:3px #ccc solid}

.cast-list {
	border-bottom: 1px solid #999;
}

.cast-text {

	color:#f17f00
}
.cast-text2 {
    color: #666;
}

.pen-icon{background:url('../images/icons/pencil.png') no-repeat center left;}
.ac-setting-icon{background:url('../images/icons/ac-setting-icon.png') no-repeat center left; }
.comment-icon{background:url('../images/icons/comment-icon.png') no-repeat center left; }
.settings-icon{background:url('../images/settings.png') no-repeat center left; }

.heading_2{color: #f17f00;}
.heading_3{color: #f17f00;}


.header-big
	{
		color:#fff;
	}
.h4-white
	{
		color:#fff;
	}

.black{color:#f17f00;}
.red{color:#130040;}

.billed-box {
    background:transparent;
    border: 2px solid #f17f00;

}
.billed-box .tick-icon {
    background: url("../images/orange-purple/tick-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}
.billed-box h3 {
    color: #f17f00;
}
.billed-box2 {
    background:transparent;
    border: 2px solid #ddd;

}

.link-bold a
	{
		color:#f17f00;
	}



.navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {

}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default{
   background-color: #fff; 
}
.btn-default {
    background-color: #fff;
    color: #333;

}
.panel {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

}
.modal-title{color: #3a3a3a}


.form-control-search{color:#fff;background: transparent none repeat scroll 0 0;}
.bootbox>div{
    color: #fff;
}
#loginButton{ background:#fff;border:1px solid #899caa;  }
#loginButton span {color:#445058; text-shadow:1px 1px #fff;}
#loginButton:hover {
    background:#fff;
}
#loginButton.active em {
    background:#d2e0ea; 
    border:1px solid #899caa;
    background:#fff;
}
#filterFormPopup #login {
        background:#ff1970;
    color:#fff;
    border:1px solid #ff1970;
      text-shadow:0px -1px #278db8;
}
fieldset#body {
      background:#fff; 
    border-radius:3px;
    -moz-border-radius:3px;
}
.modal{color:#000;}
.ppv_price{color:#f17f00;}
.social-icons li {background: #fff;}
.alert-danger{
      background-color: #F00;
    border-color: #900;
    color: #fff;  
}
.content-details h1{  color: #fff;text-shadow: 1px 1px 7px #333;}
.lstream-view .badges .badge-live {background-color: #ff3d22;color: #fff;}
.modal .login-popup-msg h3{color: #FFF; }
#loginBox{background: #fff;}
