/*
** Muvi CSS
** Muvi CSS strictly follows"Muvi Studio Styleguide"
** Author - Muvi Studio
*/

// How this CSS File Organised , The commented code sectins in this file

/*
***** 1. Import all SCSS file into "_all.scss" and Included it to this file. "variables"                    declaration is done in "modules > _variables.scss"
***** 2. Used Font Section
***** 3. All Mixins and they are Life saving !
***** 4. General CSS
***** 5. Utility Classes for Spaces
***** 6. Table Style
***** 7. Tabs
***** 8. Form element
***** 9. Pre loader
***** 10.Pre loader Overlay
***** 11.Sweet Alert
***** 12.Modal
***** 13.Progress Bar
***** 14.General Page Structure

            >>Header
            >>Sidebar Element
            >>Content Section: Display of Contents
            >>Resposnive Utilities
            >> One media query exists below "450px"
*/

// Import all scss
@import "all";

/*Font*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/*Media query Mixin*/

@mixin desktop-and-above {
    @media (min-width: 992px) {
        @content;
    }
}
@mixin tablet-and-above {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin phone-only {
    @media (max-width: 767px) {
        @content;
    }
}
@mixin small-phone-only {
    @media (max-width: 450px) {
        @content;
    }
}
@mixin tablet-and-phone {
    @media (max-width: 991px) {
        @content;
    }
}
@mixin tablet-only {
    @media (max-width: 991px) and (min-width: 768px) {
        @content;
    }
}

/*For Ghost device Only*/


/*Custom Variables For Ghost Device*/
$font-size-small_btn: 14px; 
$each_menu_height: 43px;
$current_total_menus: 13; // Only Increse this Counter Number , when Menu in sidebar increses;
$total_menus_Top_Space_wrtNavabar: 10px;
$your_ghost_device_height: ($each_menu_height*$current_total_menus)+$navbar-height+$total_menus_Top_Space_wrtNavabar;
@mixin ghost-device-only {
    @media (min-width: 768px) and (max-height: $your_ghost_device_height) {
        @content;
    }
}
@mixin desktop-and-not-ghost-device {
    @media (min-width: 768px) and (min-height: $your_ghost_device_height+1) {
        @content;
    }
}
@mixin screen-height-below-768px {
    @media (min-width: 768px) and (max-height: 768px) {
        @content;
    }
}
@mixin rotate( $degrees) {
    -webkit-transform: rotate(#{$degrees}deg);
    -moz-transform: rotate(#{$degrees}deg);
    -ms-transform: rotate(#{$degrees}deg);
    -o-transform: rotate(#{$degrees}deg);
    transform: rotate(#{$degrees}deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
    zoom: 1;
}
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*General CSS*/

body {
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 18px;
    margin-bottom: 8px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #000;
    small {
        color: #ABABAB;
    }
}
dl,
menu,
ol,
ul {
    margin: 0 !important;
}
.panel {
    padding: 20px;
}
.border {
    border: 1px solid #C7C6C6;
    padding: 4px 10px;
}
.border-black {
    border-color: $text-color !Important;
}
.divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.border-solid{
    border:1px solid #e5e5e5;
}
button {
    &:focus,
    &:visited {
        outline: none;
        border: none;
    }
}
.breadcrumb {
    margin-bottom: 0;
    .active {
        a {
            color: $midTone-grey;
            &:hover,
            &:focus,
            &:visited {
                text-decoration: none;
                cursor: none;
            }
        }
    }
}
.pagination>li>a,
.pagination>li>span {
    border: 0;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
    z-index: 2;
    color: $white;
    background-color: #2CB7F6;
}
.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.visible-xxs {
    display: none;
}
hr {
    border: 1px solid #f5f5f5 !important;
}
a {
    font-weight: 500;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: darken($bgm-blue, 30%);
        outline: none;
    }
}
.rotate270{
      -webkit-transform: rotate(270deg) !important;
  -moz-transform: rotate(270deg) !important;
  -ms-transform: rotate(270deg) !important;
  -o-transform: rotate(270deg) !important;
  transform: rotate(270deg) !important;
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(270), M12=-sin(270), M21=sin(270), M22=cos(270)) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(270), M12=-sin(270), M21=sin(270), M22=cos(270))" !important;
  zoom: 1 !important;
}
.thumbnail{
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color:transparent;
    img{
        max-width: 100%;
    }
}
.carousel-inner{
    img{
        width:100%;
    }
}
.carousel-control{
    width: 7%;
    bottom: initial !important;
    top:48% !important;
}
.carousel-control.right,.carousel-control.left{
    background-image:none !important;
}
.carousel{
            a {
                .icon-arrow-left,.icon-arrow-right {
                    font-weight: bold;
                    top: 48%;
                    position: absolute;
                }
            }
    .overlay-bottom{
        @extend %width-auto;
        z-index: 1;
    }
}
.BannerCarouselSec{
     .carousel{
        margin-bottom: 70px;
    }
    .carousel-inner{
        overflow:visible;
        .item{
                width:100% !important;
            img{
                width:100%; 
            }
            
            &.traditional
            {
                display:inline-block !important;
                width:auto !important;
                img{
                    max-width: 100%;
                }
            }
        }
}
.carousel-inner > .active{
    display:inline-block;
}
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.vertical-Middle{
    @extend %preserve-3d;
    @extend %relative;
    img {
        display: inline-block;
        @include vertical-align();
    }
}
/*Utility Classes for spaces */

%text-wrap {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
%relative {
    position: relative;
}
%absolute {
    position: absolute;
}
%preserve-3d {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    overflow: hidden;
}
%padding-left-right-only{
    padding: 0 15px;
}
%padding-0{
    padding: 0;
}
%width-auto{
    width: auto;
}
%full-width{
    width:100%;
}
.full-width{
    @extend %full-width;
}
.width-auto{
    @extend %width-auto;
}
.text-wrap {
    @extend %text-wrap;
}
.relative {
    @extend %relative;
}
.absolute {
    @extend %absolute;
}
.width {
    width: 200px;
}
.min-width {
    min-width: 200px;
}
.overlay{
    @extend %absolute;
    top: 0;
    left:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity .3s ease-in;
    .overlay-Text{
        display: table;
        width:100%;
        height: 100%;
        >div{
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
            }

    }
}
.overlay-bottom{
    @extend %absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 15px;
}
.overlay-white{
    background: rgba(255,255,255,0.9);
}
.displayInline{
    display: inline-block;
}
.absolute-top {
    top: 0;
}
.absolute-bottom {
    bottom: 0;
}
.absolute-left {
    left: 0;
}
.absolute-right {
    right: 0;
}
.h-20 {
    display: block;
    height: 20px;
}
.h-40 {
    display: block;
    height: 40px;
}
.padding {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}
.padding-40 {
    padding: 40px;
}

.p-b-0 {
    padding-bottom: 0 !important;
}
.p-l-10 {
    padding-left: 10px;
}
.p-r-10 {
    padding-right: 10px;
}
.p-t-20 {
    padding-top: 20px;
}
.p-b-20 {
    padding-bottom: 20px;
}
.p-t-40 {
    padding-top: 40px;
}
.p-b-40 {
    padding-bottom: 40px;
}
.p-l-40 {
    padding-left: 40px;
}
.p-r-40 {
    padding-right: 40px;
}
.p-l-20 {
    padding-left: 20px;
}
.p-r-20 {
    padding-right: 20px;
}

.m-t-0 {
    margin-top: 0 !important;
}
.m-b-0 {
    margin-bottom: 0;
}
.m-t-20 {
    margin-top: 20px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-b-40 {
    margin-bottom: 40px;
}
.m-b-10 {
    margin-bottom: 10px;
    
}
.m-t-10 {
    margin-top: 10px;
}
.c-white {
    color: $white !Important;
}
.c-black {
    color: #000 !Important;
}
.f-100 {
    font-weight: 100;
}
.f-300 {
    font-weight: 300;
}
.f-400 {
    font-weight: 400;
}
.f-500 {
    font-weight: 500;
}
.f-700 {
    font-weight: 700;
}
.font-12 {
    font-size: 12px;
}
.font-10 {
    font-size: 10px;
}
hr {
    border: 1px solid $light-grey;
}
.red {
    color: $bgm-red !important;
}
.blue {
    color: $bgm-blue !important;
}
.green {
    color: $bgm-green !important;
}
.disabled{
    color: $bgm-disabled !important;
    color: #515253;
}
.warning {
    color: $bgm-warning !important;
}
.light-grey {
    color: $midTone-grey;
}
.bgm-red {
    background-color: $bgm-red !important;
}
.bgm-blue {
    background-color: $bgm-blue !important;
}
.bgm-green {
    background-color: $bgm-green !important;
}
.bgm-disabled ,.btn-default-with-bg{
    background-color: $bgm-disabled !important;
    color: #515253;
}

.btn-default-with-bg{
    &:hover{
        background-color:#e3e3e4 !important;
    }
}
.bgm-warning {
    background-color: $bgm-warning !important;
}
.bgm-dark{
    background-color: $text-color !important;
}
.block-header {
    padding: 25px 0px;
    h4,
    h3 {
        margin: 0;
        line-height: 100%;
        font-weight: 400;
    }
    small {
        display: block;
        margin-top: 8px;
        line-height: 160%;
    }
}
.word-wrap-break{
    word-wrap: break-word;
}
/*Table Style*/

.table {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            &:hover {
                background: #fafbfc;
            }
            > th,
            > td {
                padding: $table-cell-padding;
                line-height: $line-height-base;
                border-top: 1px solid $table-border-color;
                white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
                white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;    /* Opera 7 */
                white-space: pre-wrap;       /* css-3 */
                word-wrap: break-word;       /* Internet Explorer 5.5+ */
                word-break: break-all;
                white-space: normal;

            }
        }
    }
    > thead > tr > th {
        @extend %relative;
        vertical-align: middle;
        font-weight: 500;
        border-width: 1px;
        text-transform: uppercase;
        cursor: pointer;
    }
    &.dataTable{
        margin-bottom: 20px !important;
    }
}
.table-borderless{
     > thead,
    > tbody,
    > tfoot {
        > tr {
            &:hover {
                background: transparent;
            }
            > th,
            > td {
                vertical-align: middle;
                padding: 12px;
                line-height: $line-height-base;
                border-top: 0;
            }
        }
    }
    .form-group{
        margin-bottom:0;
    }
}
.table {
    th {
        @extend %relative;
        >span {
            @extend %absolute;
            right: 10px;
            top: 50%;
            margin-top: -5px;
            opacity: 1;
            transition: opacity .3s ease-in;
        }
    }
    &:hover {
        >span {
            opacity: 1;
        }
    }
    tr {
        td {
            position: relative;
        }
    }
}
.table-responsive-tabletAbove{
    margin-bottom: ($line-height-computed * 0.75);
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid $table-border-color;
      // Tighten up spacing
    > .table {
      margin-bottom: 0;
      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }
}
.vertical-align--top {
    td {
        vertical-align: top;
    }
}

/*Form element*/

.fg-line:not(.form-group) {
    display: inline-block;
    width: 100%;
}
.fg-line {
    @extend %relative;
    vertical-align: top;
}
.form-control {
    color: #333;
    box-shadow: none !important;
    resize: none;
    border-radius: 0;
}
.form-control:not(.fc-alt) {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}
.fg-line:not([class*=has-]):after {
    background: $blue;
}
.fg-line:not(.disabled):after,
.fg-line:not(.readonly):after {
    @extend %absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    content: "";
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.fg-line.fg-toggled:after {
    width: 100%;
}
.fg-line:not([class*=has-]):after {
    background: #2196f3;
}
.fg-float .fg-label {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    @extend %absolute;
    top: 5px;
    font-weight: 400;
    color: #959595;
    pointer-events: none;
    z-index: 0;
    left: 0;
    white-space: nowrap;
}
.form-group {
    margin-bottom: 15px;
    i,em{
        font-weight: 500;
        color:#000;
    }
}
.fg-float {
    margin-top: 2px;
    position: relative;
}
.fg-float .form-control {
    position: relative;
    background: transparent;
    z-index: 1;
}
.fg-float .fg-toggled .fg-label {
    top: -20px;
    font-size: 11px;
}
html:not(.ie9) .select:before {
    @extend %absolute;
    top: -1px;
    content: "";
    height: calc(100% - 1px);
    width: 30px;
    background-color: $white;
    background-position: right calc(100% - 7px);
    background-repeat: no-repeat;
    background-image: url("/img/select.png");
    pointer-events: none;
    z-index: 5;
}
html:not(.ie9) .select:not(.fg-line):before {
    right: 0;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
label.error {
    font-weight: normal;
}
.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox label,
.radio label {
    padding-left: 30px !important;
    position: relative;
}
.radio label,
.checkbox label {
    min-height: 18px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.checkbox input,
.radio input {
    top: 0;
    left: 0;
    margin-left: 0 !important;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: 0;
}
.checkbox input {
    width: 17px;
    height: 17px;
}
.checkbox .input-helper:before,
.radio .input-helper:before {
    left: 0;
    border: 1px solid #ccc;
}
.checkbox .input-helper:before {
    top: 0;
    width: 17px;
    height: 17px;
}
.checkbox .input-helper:before,
.radio .input-helper:before,
.checkbox .input-helper:after,
.radio .input-helper:after {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    @extend %absolute;
    content: "";
}
.checkbox .input-helper:after {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0) rotate(80deg);
    -ms-transform: scale(0) rotate(80deg);
    -o-transform: scale(0) rotate(80deg);
    transform: scale(0) rotate(80deg);
    width: 13px;
    height: 6px;
    border-bottom: 2px solid #2cb7f6;
    border-left: 2px solid #2cb7f6;
    border-bottom-left-radius: 2px;
    left: 2px;
    top: 4px;
}
.checkbox input:checked + .input-helper:after {
    -webkit-transform: scale(1) rotate(-50deg);
    -ms-transform: scale(1) rotate(-50deg);
    -o-transform: scale(1) rotate(-50deg);
    transform: scale(1) rotate(-50deg);
    opacity: 1;
    filter: alpha(opacity=100);
}
/*.checkbox input:checked + .input-helper:before {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}*/
.radio .input-helper:before {
    top: -1px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
}
.radio .input-helper:after {
    width: 11px;
    height: 11px;
    background: $blue;
    border-radius: 50%;
    top: 3px;
    left: 4px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.radio input:checked + .input-helper:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/*Make radio ad checkbox inline*/

.radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}
.checkbox-inline,
.radio-inline {
    vertical-align: top;
    margin-top: 0;
    padding-left: 25px;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute !important;
  margin-left: -20px;
  margin-top: 4px \9;
}
/*Input Groups*/

.input-group:not(.input-group-lg):not(.input-group-sm) .input-group-addon {
    font-size: 15px;
}
.input-group-addon:first-child,
.input-group-addon:last-child {
    border: 0;
}

/*Success , Warning , Danger */

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: $bgm-green;
}
.has-success .fg-line:after {
    background: $bgm-green;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: $bgm-red;
}
.has-error .fg-line:after {
    background: $bgm-red;
}

/* Buttons */

.btn {
    border: 0;
    border-radius: 2px;
    padding: 8px 14px;
}
.btn-colors > .btn {
    min-width: 112px;
}
.btn-demo > .btn,
.btn-group-demo > .btn-group {
    margin: 0 5px 10px 0;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    @extend %absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn-sm{
    font-size: $font-size-small_btn;
}
.form-control.input-sm{
    font-size: 14px;
}
.small-icon {
    font-size: 12px;
    margin-left: 7px;
    cursor: pointer;
}
/*Alerts*/

%alertPlaceholder {
    border-color: transparent;
    color: $white;
}
.alert{
    border-radius:0;
}
.alert-success {
    background-color: rgba(76, 175, 80, 0.7);
    @extend %alertPlaceholder;
}
.alert-danger {
    background-color: rgba(244, 67, 54, 0.7);
    @extend %alertPlaceholder;
}

/*Pre loader*/

.preloader {
    position: relative;
    margin: 0px auto;
    display: inline-block;
}
.preloader:before {
    content: '';
    display: block;
    padding-top: 100%;
}
.preloader:not([class*="pl-"]) {
    width: 40px;
}
.preloader-small{
 width:27px !important;
}
svg:not(:root) {
    overflow: hidden;
}
.pl-circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    @extend %absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.plc-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 2;
    stroke-miterlimit: 10;
    fill: none;
}
.preloader.pls-blue .plc-path {
    stroke: $bgm-blue;
}
.preloader[class*="pls-"] .plc-path {
    animation: dash 1.5s ease-in-out infinite;
}
.centerLoader{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    .preloader{
        top: 50%;
        transform: translateY(-50%);
    }
}
.centerLoader-InDiv{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
        .preloader{
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
            right: 0px;
            bottom: 0px;
            margin: auto;
            position: absolute;
        }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

/* Sweet Alert*/

.sweet-alert h2 {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    z-index: 1;
}
.text-muted {
    color: #777777;
}
.sweet-alert .lead {
    font-size: 13px;
}
.sweet-alert .btn {
    padding: 6px 12px;
    font-size: 13px;
    margin: 20px 2px 0;
}

/* Modal */

.modal .modal-content {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
    border-radius: 0px;
    border: 0;
}
.modal-header {
    padding: 23px 26px;
    border-bottom: 1px solid transparent;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid transparent;
}
.modal .modal-body {
    padding: 0 26px 10px;
}

.is-Large-Modal{
    .modal-dialog {
       width: 92% !important;
    }
}
@media (min-width: 768px) {
  .modal-x-lg {
    width: 92% !important; } }
/*Progress Bar*/

.progress {
    box-shadow: none;
    border-radius: 0;
    height: 5px;
    margin-bottom: 0;
}

/*The Page Structure*/


/*Header*/

nav {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-color: none;
    z-index: 1030;
    .border {
        background: $bgm-blue;
        border: 1px solid $bgm-blue;
        a {
            color: $white !important;
        }
    }
}
.navbar-brand{
    height: $navbar-height;

}
.partner-brand{
	    right: 100%;
    	max-width: 150px;
	    margin: 10px 0;
	    padding-right: 20px;
	    border-right: 1px solid $light-grey;
		text-align: right;
	img{
	   width: 90px;
		opacity: 0.8;
	}
	p{
		margin-bottom: 2px;
	}
}
.navbar-nav {
    margin: 0 !Important;
    width: 100%;
    >li {
        >a {
            padding: 13px 17px;
        }
    }
}
.action {
    cursor: pointer;
    border: none;
    background: none;
    float: left;
    margin: 0;
    padding: 26px 25px 20px 25px;
    color: $white;
    &--open {
        display: none;
    }
}
.MenuRight {
	float: right;
    line-height: 24px;
    padding: 12px 15px;
    li {
        margin-left: 10px;
        a {
            font-weight: 400;
            color: $text-color;
            &:hover {
                text-decoration: none;
            }
        }
        &:hover {
            opacity: 0.99;
        }
    }
	li:not(.border){
		    padding: 4px 0;
	}
    .border {
        border-radius: 2px;
        a {
            padding: 0 10px;
        }
    }
    .dropdown-menu {
        padding: 15px;
        min-width: 220px;
        &::before {
            content: "";
            @extend %absolute;
            top: -5px;
            right: 5px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #D0D0D0;
        }
    }
}
.dropdown-menu {
    border-radius: 0;
    border: 1px solid $bgm-disabled;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    display: none;
    >li {
        >a {
            padding: 0;
            color: $text-color;
            em {
                margin-top: 5px;
                padding-right: 10px;
            }
            &:hover,
            &:focus,
            &:active {
                background-color: transparent;
                color: $blue;
            }
        }
    }
    .divider {
        margin: 15px 0;
		padding: 0 !important;
    }
}
.open .dropdown-menu {
    opacity: 1;
    display: block;
}
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus,
.nav .open>a:active {
    background-color: transparent;
    text-decoration: none;
}
.LoggedIn-User {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span {
        white-space: normal;
        line-height: 1.42857;
        font-size: 12px;
        display: block;
    }
}
/*When Notification Alert Exist*/
.hasAlert {
	.navbar {
		top: 50px;
	}
	.content {
		margin-top: 112px;
	}
	.sidebar {
		top: 112px;
		height: calc(100vh - 112px);
	}
}

.notificationBar{
          padding: 15px;
        border: 1px solid transparent;
        background-color: #ff9800;
        color:#fff;
    }
    .notificationBar a{
        color:#fff;
    }

/*Sidebar Element*/

.sidebar {
    position: fixed;
    top: 65px;
    bottom : 0;
    border-right: 1px solid $bgm-disabled;
    background: $white;
    border-left: 1px solid #edf1f2;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}
.left-pos-and-initial-Show {
    width: 210px;
    z-index: 1015;
}
.help-block--of--pages {
    width: 50%;
    padding: 15px 20px 20px 20px;
    z-index: 1010;
    .mCSB_scrollTools .mCSB_draggerContainer {
        right: -15px !important;
    }
}
.right-pos-and-initial-Hide {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.sidebar-toggled {
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
.info-Action,
.close-Action {
    text-align: center !important;
    margin-top: 0;
    width: 40px;
    height: 40px;
    em {
        font-size: 1.5em;
        text-align: center;
        display: inline-block;
        padding-top: 10px;
        color: $text-color;
    }
}
.article-Block {
    h2,
    h3,
    h4 {
        font-weight: 300;
    }
    article {
        h3 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 20px;
        }
    }
}
.menu-wrap {
    list-style: none;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 10px;
    li {
        position: relative;
        a {
            display: block;
            position: relative;
            padding: 10px 20px 10px 55px;
            font-weight: 500;
            color: $text-color;
            text-decoration: none;
            text-transform: capitalize;
            font-size: 14px;
            em,
            i {
                @extend %absolute;
                font-size: 15px;
                text-align: center;
                top: -4px;
                width: 21px;
                padding: 15px 0;
            }
            .left-icon {
                left: 14px;
            }
            .right-icon {
                right: 14px;
                font-size: 9px;
                top: 3px;
            }
        }
        &:hover,
        &:active,
        &:visited {
            > a {
                color: $bgm-blue;
            }
        }
    }

    .fa-mobile {
        font-size: 24px;
    }
    /*For Submenus*/
    ul {
        background: #fff;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    >li {
        >ul {
            display: none;
            >li {
                >ul {
                    display: none;
                    >li {
                        >ul {
                            display: none;
                        }
                    }
                }
            }
        }
        
        ul{
            li{
                a{
                    font-weight: 400;
                    color: #484747;
                }
            }
        }
    }
.active-item,.active-sub-item,.active-sub-sub-item,.active-sub-sub-sub-item{
   > a{
    color: $bgm_blue;
  }
}
    .Sub-Menu-Level--1,.Sub-Menu-Level--2,.Sub-Menu-Level--3{
  &::before{
              content: "";
              width: 0;
              height: 0;
              position: absolute;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right: 6px solid #E0D9D9;
              left: -6px;
              top: 15px;
  }

 }
 /* remove right-icon from corresponding level */
 .Sub-Menu-Level--1 > li , .Sub-Menu-Level--2 > li {
     &:hover{
         > a em{
             display:none;
         }
     }
 }
}
.collapse--open {
    display: block;
}

/*Content*/

.content {
    margin-top: 60px;
    padding: 20px 0;
    padding-left: 210px;
}
.Current_PageHeader {
    h3,
    h2 {
        margin: 0;
    }
    h3 {
        font-size: 28px;
        margin-bottom: 5px;
    }
    .breadcrumb {
        padding-top: 0;
        padding-bottom: 2px;
        padding-left: 0;
        >li + li {
            &::before{
                 content: "> ";
            }
        }
    }
    .col-xs-4 {
        h5 {
            margin-top: 12px;
            font-weight: 400;
            font-size: 1.2em;
            em {
                font-weight: 400;
            }
        }
    }
    .btn{
        min-width: 135px;
    }
}
.Hero_Section {
    background-image: url("/img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    margin-bottom: 25px;
    position: relative;
    h1 {
        margin-left: auto;
        margin-right: auto;
    }
    >.row {
        @extend %relative;
        height: 200px;
        > div{
            top: 45%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            max-width: 100% !important;
    }
    }
    .Hero_Section_Inner {
        @include vertical-align();
    }
    .btn{
        cursor: pointer;
        /* height: 50px; */
        font-size: 17px;
        background-color: #fff;
        color: #333;
        margin-top: 5px;
        line-height: 30px;
        min-width: 255px;
        &:hover ,  &:focus ,  &:active{
            background-color: #fff;
            color:#000;
            box-shadow: -1.1px 16px 16px 0 rgba(0, 0, 0, 0.1);
}
    }
}
.Saluation {
    margin: 45px 0 80px;
}
.Fire-Subscription-Link {
    a {
        color: $white;
    }
}
.To_Do_Walkover {
    .circle {
        @extend %absolute;
        left: 0;
        top: 0;
        p {
            color: $bgm-blue;
        }
    }
}
.Walkover-Header {
    position: relative;
    min-height: 30px;
    padding-top: 5px;
}
.Walkover-Body {
    > .row {
        margin-left: 0;
        margin-right: 0;
    }
    img {
        margin-top: -5px;
    }
}
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center; 
    padding: 4px 0 0;
    border: 1px solid $bgm-blue;
}
.circle-xs-small{
    width:20px;
    height:20px;
    border:0;
}
.Block-Header {
    padding-left: 50px;
    @extend %relative;
    h4 {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 300;
        margin-top:0px; 
    }
}
.icon-OuterArea--rectangular {
    width: 40px;
    height: 30px;
    @extend %absolute;
    left: 0px;
    top: -2px;
    text-align: center;
    border: 1px solid #D4D4D4;
    border-radius: 8%;
    em {
        position: relative;
        padding-top: 4px;
        font-size: 1em;
        color: #847D7D ;
        display: inline-block;
    }
}
.icon {
    @extend %absolute;
    top: 3px;
    font-size: 1.2em;
}
.left,
.left-icon {
    left: 0;
}
.right,
.right-icon {
    right: 0;
    left:initial;
}
.has-right-icon{
   padding-right: 50px;
}
.icon-with-fixed-width{
    width: 40px;
    height: 40px;
    padding: 9px 12px;
    text-align: center;
    font-size: 17px;
    border-radius: 0;
}
.indicator {
    height: 200px;
    @extend %preserve-3d;
    @extend %relative;
    img {
        display: inline-block;
        @include vertical-align();
    }
}
.info-block {
    @extend %relative;
}
.grey {
    @extend %relative;
    color: #A7A0A0;
}
.highcharts-container,
.highcharts-container svg {
    width: 100% !important;
}
.Box-Container {
    display: block;
    width: 280px;
    //max-height: 150px; 
    overflow-y: hidden;
    position: relative;
    @extend %preserve-3d;
    .thumbnail {
        border: 0;
        margin-bottom: 0;
        >img{
            margin-left:0;
        }
    }
}
.Box-Container-width-Modified{
     .Box-Container {
       width: 140px; 
       .thumbnail{
            >img{
               max-height:150px; 
            }
       }
    }
}
.thumbnail-small {
    width: 100px;
    max-height: 100px;
}
.border-dotted{
    padding: 20px;
    border:1px dotted $light-grey;
}
.fixedWidth--Preview{
    max-width: 300px;
    img{
        max-width: 100%;
    }
    .overlay-bottom{
        @extend %padding-0;
        @extend %width-auto;
    }
}
.Middle-Width-Block{
    max-width: 200px;
}
.Small-Width-Block{
    max-width: 150px;
}
.form-group-cancel-magin{
    .form-group{
        margin-left: -15px;
        margin-right: -15px;
    }
    label{
        font-size:12px;
    }
}
.card-Simple{
    .form-group{
        margin-bottom: 0;
    }
    hr{
        margin-top: 20px;
    }
}
.progress-encoding{
    a{
        em{
            animation: rotate 2s linear infinite;
        }
    }
}
.Choose-from-Library-Preview{
    .overlay{
       -webkit-transition:0.2s;
transition:0.2s;
        p{
            margin-top: 22px;
                opacity: 0;
        }
    }
    &:hover{
        .overlay{
            opacity: 1;
            p{
                opacity: 1;
            }
        }
    }
}
.list-inline > li{
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
    vertical-align: top
}
.is-Scrollable > .list-inline > li{
    padding-left: 5px;
    padding-right: 5px;
}
.video_thumb{
    width:280px;
    height:200px;
}
.Preview-Block{
    .thumbnail{
        text-align: center;
       }
    &:hover {
        .overlay {
            opacity: 1;
        }
    }
}
.Gallery-Row{
    .thumbnail{
          padding: 0;
    }
}
.Collapse-Block{
    background-color: $white;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $light-grey;
    .icon-OuterArea--rectangular{
        border:0;
        font-size: 1.3em;
        em{
                padding-top: 2px;
        }
    }
    .Preview-Block{
        .thumbnail{
            @extend %padding-0;
            img{
                width:100%;
            }
        }
    }
    .overlay-bottom{
        @extend %padding-0;
        @extend %width-auto;
    }
}
.Collapse-Content{
    padding: 0 50px;
}
.drag-cursor{
    cursor: move;
}
.show{display:block !important;}
.hide{display:none !important;}
.animate-div {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #ff8b19;
    font-size: 14px;
    font-weight: 700;
    padding: 2px 5px;
    position: absolute;
    width: 65px;
}
.template-Block{
        h4 {
            margin-top: 0;
        }
        p,
        h4 {
            margin-bottom: 20px;
        }
}
.template-Sec{
   height: 310px;
   overflow: hidden;
    img{
        width: 100%;
    }
}
.Purchase-Subscription{
    label.h4{
        font-size:16px;
    }
}
/*Resposnive Utilities*/
@include small-phone-only {
    .visible-xxs {
        display: block;
    }
    .hidden-xxs {
        display: none;
    }
    .MenuRight {
        padding: 15.5px 5px;
        li {
            margin-left: 5px;
        }
    }
}
@include phone-only {
    /*Typography*/
    h1,
    .h1 {
        font-size: 24px;
    }
    h2,
    .h2 {
        font-size: 20px;
    }
    h3,
    .h3 {
        font-size: 17px;
    }
    .dropdown-menu {
        >li {
            >a {
                color: $text-color !important;
            }
        }
    }
    .help-block--of--pages {
        width: 100%;
        padding: 15px;
    }
    .mCustomScrollBox,
    .mCSB_container {
        overflow: hidden;
    }
    .Walkover-Body {
        text-align: center;
    }
    .Walkover-Footer {
        margin-right: 5px;
        margin-left: 5px;
        a{
            width:100%;
        }
    }
    .Box-Container {
        width: 100px;
    }
    .mob-compress {
        .caption,
        .Box-Container {
            margin-left: 25px;
        }
    }
    .Current_PageHeader {
        h3 {
            margin-top: 5px;
            font-size: 25px;
        }
        .col-xs-4 {
            h5 {
                margin-top: 5px;
            }
        }
    }
    .info-Action,
    .close-Action {
        width: 40px;
        height: 40px;
        em {
            padding-top: 10px;
        }
    }
    .thumbnail-small {
        width: 60px;
    }

}
@include tablet-and-phone {
    .action {
        &--open {
            display: block;
        }
    }
    .left-pos-and-initial-Show {
        -webkit-transform: translate3d(-210px, 0, 0);
        transform: translate3d(-210px, 0, 0);
    }
    .content {
        padding-left: 0;
    }
    .footable-row-detail-row {
        height: 35px;
    }
    .footable-row-detail-inner {
        width: 100%;
    }
    .footable-row-detail-name {
        width: 100px;
    }
    .footable-row-detail-value {
        width: 100%;
    }
    .tab-compress {
        .caption,
        .Box-Container {
            margin-left: 25px;
        }
    }
}
@include tablet-and-above {
    .breadcrumb {
        background-color: transparent;
    }
    .To_Do_Walkover {
        .col-md-8 {
            padding-right: 0;
        }
    }
    .Walkover-Footer {
        a {
            min-width: 212px;
        }
    }
    .table {
        a {
            display: inline-block;
        }
    }
    .max-width-40{width:40px}
    .form-horizontal .control-label{
        text-align: left;
    }
    .template-Block {
        height: 525px;
        overflow: hidden;
    }
    .p-l-0 {
         padding-left: 0 !important;
    }
    .p-r-0 {
        padding-right: 0 !important;
    }
}
@include tablet-and-above {
    .control-SubMenus {
        .menu-wrap {
            /*Sub-Menu--Level1 and Sub-Menu--Level2 :*/
            ul {
                border: 1px solid #E0D9D9;
                li {
                    a {
                        padding: 10px 20px 10px 30px;
                    }
                }
            }
            >li {
                /*Sub-Menu--Level1 */
                >ul {
                    position: absolute;
                    left: 87%;
                    width: 105%;
                    z-index: 10;
                    top: -1px;
                    /*Sub-Menu--Level2 */
                    >li {
                        position: relative;
                        >ul {
                            top: -1.4px !important;
                            position: absolute;
                            left: 100%;
                            background: $white;
                            width: 95%;
                            top: 0;

                            /*Sub-Menu--Level3 */
                            >li{
                                position:relative;
                                >ul{
                                        top: -1.4px !important;
                                        position: absolute;
                                        left: 100%;
                                        background: $white;
                                        width: 95%;
                                        top: 0;
                                }
                                 &:hover {
                                    >ul {
                                        display: block !important;
                                    }
                                }
                            }
                        }
                        &:hover {
                            >ul {
                                display: block !important;
                            }
                        }
                    }
                }
                &:hover {
                    >ul {
                        display: block !important;
                    }
                }
            }
        }
    }
}
@include desktop-and-above{
    .form-horizontal .control-label {
        text-align: left !important;
    }
    .pull-right--desktopOnly{
        float: right;
    }
    .card-Simple{
            label {
                padding-left: 40px;
            }
    }
}
.control-SubMenus {
        .menu-wrap {
            >li {
                /* Sub-Menu--Level1 */
                >ul.posBottom {
                    bottom: 0;
                    top: auto !important;
                    &::before{
                        top: auto;
                        bottom: 13px;   
                    }
                } 
            }
        }
    } 

/*Other Media Queries : Fix Up*/ 
.confirmButtonTextColor{
    .confirm{
        color:#333 !important;
    }
    .cancel{
        background:$bgm-red !important;
        color:#fff !important;
    }
}
.cancelButtonColor{
    .cancel{
        background:#E6E6E6 !important;
        color:#333 !important;
    }
}


@media (max-width:1400px) and (min-width:768px) {
    .Walkover-Body {
        img {
            margin-top: 5px;
            margin-left: -25px;
            width: 85px;
        }
    }
}

@media (max-width:1260px){
    .width--deviceBased{
        width:340px;
    }
    #movie_list_tbl{
        h5{
            font-size:12px;
        }
    }
}
.jcrop-holder{
    display:inline-block;
}

.m-l-30{
        margin-left: 30px;
    }
.Preview-Block .thumbnail-list > div {
    display: inline-block;
    height: 103px;
}

#external-events .fc-event {
    background-color: #f7f7f7 !important;
}
.tv_channel_edit{
    max-height: 100px;
    overflow-y: visible;
    overflow-x: hidden;
    padding-bottom: 10px;
    ul{
        li{
            min-height:25px;
        }
    }
}
.url-position{
    bottom:-65px;
    @include tablet-only{
        bottom:-80px;
    }
}
.m-l-10{margin-left:15px !important;}
.m-l-30{
        margin-left: 30px;
}
.content-type{
    margin-bottom:5px;
    li{
        padding-right:3px;
        em,i{
            font-size:18px;
        }
    }
}
.video_thumb p{word-wrap: break-word;}
/* Quick tips */
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }
}
.Updates-Block{
    .carousel-control{
        span{
          color:#333;  
          text-shadow:none;   
          font-size: 17px;
          top: 4px;
        }
    }
    .carousel-control.right{
        top: -65px !important;
        z-index: 9
    }
}
.tip-title{
    margin-bottom: 5px;
    a{
        font-size:18px;
        font-weight: 400;
    }
}
.tip-Desc{
    margin-bottom: 20px; 
}

/*Subscription Alert*/
.has__message--block{
    padding-top: 55px;
    nav{
        top:55px;
    }
    .sidebar{
        top:120px;
    }
    .message__block{
        background: url('../img/grey_bg.png');
        background-color:#fbf9ed;
        border-color: #faebcc;
        
        background-position: 0 75%;
        padding: 18px 14px 10px 15px;
        h5{
            font-size: 15px;
            color: #5d5954;
        }
        .btn{
            margin-top: -10px;
            font-size: 16px;
        }
    }
}