
<div class="row blog_comment top20">
    <div class="col-md-6">
        <div class="title1 blogcomment">{$this->Language['post_your_comment']}</div>
        <div class="comment">
            <form id="frmPST" name="frmPST" method="post" action="/blog/saveUserComment" >
                <input type="hidden" name="post_id" value="{$post_id}" />
                <div class="form-group">
                    <div class="icon-addon addon-lg">
                        <input type="text" class="form-control" id="fname" name="fname" placeholder="{$this->Language['text_name_placeholder']}" required />
                        <label for="exampleInputEmail2"><i class="fa fa-user"></i></label>
                    </div>

                </div>             
                <div class="form-group">
                    <div class="icon-addon addon-lg">
                        <textarea class="form-control" rows="3" name="comment" id="comment" placeholder="{$this->Language['text_comment_placeholder']}" required></textarea>
                        <label for="exampleInputEmail2"><i class="fa fa-comments"></i>
                        </label>
                    </div>
                </div>
                <div class="error" id="comment_error"></div>
                <button type="submit" class="btn btn-primary btn-green-small pull-right"><i class="fa fa-rocket padding-right-10"></i> {$this->Language['btn_submit']}

</button>
            </form>    

        </div>
    </div>
</div>
