
   <div class="page-header">
                <!--Background Banner-->
                <div class="fill-header">
                    <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Banner%20Pik.jpg" alt="Banner Header">
                </div>             
                <div class="page-title">
                    <h2>{$this->Language['search_results']}</h2>
                </div>
            </div>


  <div class="content-holder">
               <section class="p-t-0">
                    <!---<h6>You searched for <span class="text-capitalize">“Routine”</span></h6>-->
                    <div class="card-gallery">

                             {if $item_count > 0}
                {include file='../layouts/listitem.html'}
		{else}
		<h5>{$this->Language['no_result_found_refine_your_search']}</h5>
            {/if}

                        </div>
               </section>
            </div>

