{literal}
<style>
    .form-control {border: 1px solid #8e8e8e;}
</style>
{/literal}
{assign var=months value=['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']}
{$user_id=Yii::app()->user->id}
<div class="c-layout-page">

    <!-- BEGIN: CONTENT/SHOPS/SHOP-CART-1 -->
    {if isset($smarty.session.cart_item)} 
    {assign var="item_total" value=0}
    <div class="c-content-box c-size-sm">
        <div class="container">
        <div class="row top20">
         <div class="col-lg-12 top-"><h2 class="">{$this->Language['my_cart']}</h2></div>
         </div>
           

            <div class="c-shop-cart-page-1 top20">
                <div class="row c-cart-table-title"  style="border-bottom:solid 1px #ccc;">
                    <div class="col-md-2 c-cart-image">
                        <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">{$this->Language['image']}</h3>
                    </div>
                    <div class="col-md-5 c-cart-desc">
                        <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">{$this->Language['item_name']}</h3>
                    </div>

                    <div class="col-md-3 c-cart-ref">
                        <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">{$this->Language['item_details']}</h3>
                    </div>
                    <div class="col-md-2 c-cart-remove">
                          <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">{$this->Language['review_order']}</h3>
                    </div>
                </div>
                <!-- BEGIN: SHOPPING CART ITEM ROW -->
                {assign var="producturl" value=Yii::app()->createUrl("/")}
                {assign var="cart_item" value=$smarty.session.cart_item}
                {foreach from=$cart_item item=item}
                {assign var="img_path" value=PGProduct::getpgImage($item['id'],'thumb')}
                {assign var="itemid" value=$item['id']}
                <div class="row c-cart-table-row top20 cart_border">
                   
                    <div class="col-md-2 col-sm-3 col-xs-5 c-cart-image">
                        <img src="{$img_path}" class="cart-img"/> 
                    </div>
                    <div class="col-md-5 col-sm-9 col-xs-7 c-cart-desc">
                         <a href="{$producturl}/{$item['permalink']}" class="c-font-bold c-theme-link c-font-22 c-font-dark" style="word-wrap: break-word;">
                                {$item['name']}
                            </a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 c-cart-ref">
                         <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">{$this->Language['price']} : {Yii::app()->common->formatPrice($item['price'], $item['currency_id'])}</p>
                         <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">{$this->Language['quantity']} :
                             <input type="text" class="form-control c-item-{$itemid}" value="{$item['quantity']}" id="qnt_{$item['id']}" onkeypress="return isNumberKey(event)" maxlength="3" style="display: inline ! important; width:50px ! important;"  />
                              <a href="javascript:void(0);" class="btn btn-default btn-sm" onclick="updatecart({$itemid});" style="font-size: 13px;">{$this->Language['update']}</a>
                         </p>
                         <p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">{$this->Language['total']} : 
                          {assign var="pertotal" value=($item["price"] * $item["quantity"])}
                            {Yii::app()->common->formatPrice($pertotal, $item['currency_id'])}
                         </p>

                    </div>

                    <div class="col-md-2 col-sm-12 c-cart-remove"> 
                        <a onclick="removecart('{$itemid}', 'cart_tr{$itemid}');" href="javascript:void(0);" class="btnRemoveAction">{$this->Language['remove_from_cart']}</a>
                    </div>
                </div>
                {assign var="item_total" value="{math equation="x + y" x=$item_total y=$pertotal}"}                
                {/foreach}
                <!-- END: SHOPPING CART ITEM ROW -->

                <!-- BEGIN: SUBTOTAL ITEM ROW -->
                <div class="row">
                    <div class="c-cart-subtotal-row c-margin-t-20">
                        <div class="col-md-12 col-sm-6 col-xs-6 c-cart-subtotal-border">
                            <div class="pull-right" style="font-size: 20px;"> {$this->Language['total']} {$smarty.session.item_total} </div>
                        </div>
                    </div>
                </div>
              <div class="c-cart-buttons pull-right top10">
                    <a href="/shop" class="btn c-btn btn-sm c-btn-red c-btn-square c-font-white c-font-bold c-font-uppercase c-cart-float-l btn-default btn-grey btn-cart ">{$this->Language['continue_shopping']}</a>
                    {if $user_id!=''}
                    <a href="javascript:void(0);" class="btn c-btn btn-sm c-theme-btn c-btn-square c-font-white c-font-bold c-font-uppercase c-cart-float-r btn-default btn-grey btn-cart" onclick="post_comment();">{$this->Language['checkout']}</a>
                    {else}
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal" class="btn c-btn btn-sm c-theme-btn c-btn-square c-font-white c-font-bold c-font-uppercase c-cart-float-r btn-default btn-grey btn-cart" onclick="post_comment();">{$this->Language['checkout']}</a>
                    {/if}
                </div>

            </div>
        </div>
    </div>

    
    <div id="address_details" class="c-content-box c-size-sm top10" {if $smarty.session.address_details == 0} style="display: none;" {/if}>
        <div class="container">
            <div class="col-md-12">
                <h3 class="c-font-bold c-font-uppercase c-font-24" style="margin-bottom: 40px;">{$this->Language['address']}</h3>
                <form class="c-shop-form-1" action="javascript:void(0);" id="shipingform" name="shipingform">
                    <div class="row" id="parentaddress">
                        {$addresspage}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="payment_details" class="c-content-box c-size-sm" style="display: none;">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <form action="javascript:void(0);" id="payform" name="payform">
                            <h3 class="c-font-bold c-font-uppercase c-font-24"><!--Choose method of Payment-->{$this->Language['paymentdetails']}</h3>
                            <hr>
                            <label class="radio radio-inline" style="display: none;">
                                <input type="radio" checked="checked" name="pay[payment_type]" value="0">
                                <i class="input-helper"></i>{$this->Language['cash_on_delivery']}
                            </label>
                            <label class="radio radio-inline" style="display: none;">
                                <input type="radio" name="pay[payment_type]" value="1">
                                <i class="input-helper"></i>{$this->Language['choose_payment']}
                            </label>
                            <div class="clearfix"></div>
                            <div class="row top20" id="payformdiv" style="display: none;">
                                <div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-6" style="margin-top: 20px;"><label style="font-size: 24px;">{$this->Language['credit_card_detail']}</label></div>
                                            <div class="col-md-6 text-right" style="margin-top: 20px;">
                                                <img src="{Yii::app()->getBaseUrl(true)}/images/visad.png" style="width: 50px;">
                                                <img src="{Yii::app()->getBaseUrl(true)}/images/mastercard.png" style="width: 50px;">
                                                <img src="{Yii::app()->getBaseUrl(true)}/images/maestro.png" style="width: 50px;">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="text-center" id="card-error"></div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">
                                                    {$this->Language['card_will_charge']} <span style="color: #f55753;">{$smarty.session.item_total}</span>
                                                    <input type="hidden" name="pay[amount]" value="{$item_total}">
                                                    <input type="hidden" name="pay[currency_id]" value="{$item['currency_id']}">
                                                </label>
                                            </div>                                    
                                            <div class="form-group col-md-6">
                                                {if empty($card)}
                                                <input type="hidden" id="card_options" value="">
                                                {else}
                                                <select class="form-control c-square c-theme" name="card_options" id="card_options" onchange="showcarddiv('cardinfo', this);">
                                                    <option value=""> {$this->Language['use_new_card']}</option>
                                                    {if $payment_type !='paypalpro'}
                                                    {foreach from=$card item=value}
                                                    <option value="{$value->id}" selected="selected">{$value->card_last_fourdigit} {$value->card_type}</option>
                                                    {/foreach}
                                                    {/if}
                                                </select>
                                                {/if}
                                            </div>
                                        </div>
                                        <div id="cardinfo" style="display: none;">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">{$this->Language['text_card_name']}</label>
                                                    <input type="text" name="pay[card_name]" class="form-control c-square c-theme">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">{$this->Language['text_card_number']}</label>
                                                    <input type="text" name="pay[card_number]" class="form-control c-square c-theme">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-3">
                                                    <label class="control-label">{$this->Language['selct_exp_date']}</label>
                                                    <select name="pay[exp_month]" id="exp_month" class="form-control c-square c-theme">
                                                        <option value="">{$this->Language['select_month']}</option>
                                                        {for $i=1 to 12}
                                                        <option value="{$i}">{$months[$i - 1]}</option>
                                                        {/for}
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="control-label">&nbsp;</label>
                                                    <select name="pay[exp_year]" id="exp_year" class="form-control c-square c-theme pull-right" onchange="getMonthList();">
                                                        <option value="">{$this->Language['select_year']}</option>
                                                        {for $i=$yearrange['start'] to $yearrange['end']}
                                                        <option value="{$i}">{$i}</option>
                                                        {/for}
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="control-label">{$this->Language['text_security_code']}</label>
                                                    <input type="password" name="pay[security]" class="form-control c-square c-theme" placeholder="{$this->Language['text_security_code']}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label class="control-label">&nbsp;</label>
                                                    <input type="text" name="pay[nameoncard]" class="form-control c-square c-theme" placeholder="{$this->Language['card_name_optional']}">
                                                </div>
                                            </div>
                                            {if $payment_type !='paypalpro'}
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <div class="c-checkbox">
                                                        <input type="checkbox" value="1" class="c-check" value="1" name="savecard" id="checkbox2-22" checked="checked">
                                                        <label for="checkbox2-22">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> {$this->Language['save_card_checkout']}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ><a href="javascript:void(0);" onclick="saveorder();" class="btn btn-primary">{$this->Language['confirm_order']}</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {else}
    <div class="container" style="padding: 30px 20px;">
        <h3>{$this->Language['shopping_cart']}</h3>
        {$this->Language['cart_is_empty']}
    </div>    
    {/if}
    <!-- END: CONTENT/SHOPS/SHOP-CART-1 -->

    <!-- END: PAGE CONTENT -->
</div>
<div id="successPopup" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title success-popup-payment"> {$this->Language['order_processed']}.</div>
            </div>
        </div>
    </div>
</div>

<div id="loadingPopup" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <div class="modal-title auth-msg">{$this->Language['auth_your_card']}</div>
                <div><img src="{$this->siteurl}/images/payment_loading.gif" alt="Loading" title="Loading" style="padding:5px;"/></div>
            </div>
        </div>
    </div>
</div>
{literal}
<script type="text/javascript">
    var browserreloadflag = 0;
    var months = new Array('JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'N0V', 'DEC');
    $(document).ready(function(){
        $.validator.addMethod('ph', function (value) { 
            return /[0-9+()-]\d*$/.test(value); 
        }, 'Use only numbers, +, -, (, )');
    })
    function removecart(id, cartid) {
        $('.loader_cart').show();
        var url = '{/literal}{$this->siteurl}{literal}/shop/RemoveCart';
        $.post(url, {'id': id}, function (res) {
            //$('.loader_cart').hide();
            window.location.reload();
        })
    }
    function updatecart(id) {
        var qnt = $('#qnt_' + id).val();
        if(qnt>0){
            $('.loader_cart').show();
            var url = '{/literal}{$this->siteurl}{literal}/shop/updateCart';
            $.post(url, {'id': id, 'update': 1, 'quantity': qnt}, function (res) {
                //$('.loader_cart').hide();
                window.location.reload();
            })
        }else{
            alert('Enter Quantity');
        }
    }
    function showpgdiv(divid) {
        $('#' + divid).show('slow');
        if (divid == 'payment_details') {
            if ($('#card_options').val() == '') {
                $('#cardinfo').show('slow');
            }
        }
        $('html, body').animate({'scrollTop': $('#' + divid).position().top});
    }
    function showcarddiv(carddiv, obj) {
        if ($(obj).val() == '') {
            $('#' + carddiv).show('slow');
        } else {
            $('#' + carddiv).hide('slow');
        }
    }
    function validateshiping(flag) {
        var validate = $("#shipingform").validate({
            rules: {
                'ship[address_name]': {
                    required: true
                },
                'ship[address]': {
                    required: true
                },
                'ship[phone_number]': {
                    required: true,
                    ph:true
                }
            }
        });
        var x = validate.form();
        if (x) {
            $('.loader_cart').show();
            $.ajax({
                url: "{/literal}{$this->siteurl}{literal}/shop/saveaddrsession/flag/" + flag,
                data: $('#shipingform').serialize(),
                type: 'POST',
                success: function (data) {
                    if (data != '1') {
                        $('#parentaddress').html(data);
                    }
                    var divid = 'payment_details';
                    showpgdiv(divid);
                },
                complete: function () {
                    $('.loader_cart').hide();
                }
            });
        } else {
            $('.loader_cart').hide();
        }
    }
    function saveorder() {
        var validate = $("#payform").validate({
            rules: {
                "pay[card_name]": "required",
                "pay[card_number]": {
                    required: true,
                    number: true
                },
                "pay[exp_month]": "required",
                "pay[exp_year]": "required",
                "pay[security]": {
                    required: true,
                    minlength:3                    
                }
            },
            messages: {
                "pay[card_name]": JSLANGUAGE.card_name_required,
                "pay[card_number]": {
                    required: JSLANGUAGE.card_number_required,
                    number: JSLANGUAGE.card_number_required
                },
                "pay[exp_month]": JSLANGUAGE.expiry_month_required,
                "pay[exp_year]": JSLANGUAGE.expiry_year_required,
                "pay[security]": {
                    required: JSLANGUAGE.security_code_required,
                    minlength: 'minimum 3 characters required'
                }
            },
            errorPlacement: function (error, element) {
                error.addClass('red');
                error.insertAfter(element);
            }
        });
        var x = validate.form();
        if (x) {
            browserreloadflag = 1;
            $.cookie("showshipingaddr", 0);
            $("#loadingPopup").modal('show');
            var url = '{/literal}{$this->siteurl}{literal}/shop/saveorder';
            var data = $('#payform').serialize();
            $.post(url, {'data': data}, function (res) {
                browserreloadflag = 0;
                $("#loadingPopup").modal('hide');                
                if (res.isSuccess) {
                    $("#successPopup").modal('show');
                    setTimeout(function () {
                        window.location.href = '{/literal}{$this->siteurl}{literal}/shop/success';
                        return false;
                    }, 5000);                    
                } else {
                    if (typeof res.Message != 'undefined') {
                        $('#card-error').html(res.Message);
                    } else if (typeof res.response_text != 'undefined') {
                        var msg = JSLANGUAGE.transaction_not_processed + ' ' + JSLANGUAGE.valid_credit_card_number;
                        $('#card-error').html(msg);
                    }
                }
            }, 'json');
        } else {
            return false;
        }
    }
    function getMonthList() {
        var d = new Date();
        var curyr = d.getFullYear();
        var selyr = parseInt($('#exp_year').val());
        var curmonth = d.getMonth() + 1;
        var sel_month = $.trim($("#exp_month").val());
        var startindex = 1;
        if (curyr === selyr) {
            startindex = curmonth;
        }

        var month_opt = '<option value="">' + JSLANGUAGE.expiry_month + '</option>';
        for (var i = startindex; i <= 12; i++) {
            var selected = '';
            if (i === parseInt(sel_month)) {
                selected = 'selected="selected"';
            }
            month_opt += '<option value="' + i + '" ' + selected + '>' + months[i - 1] + '</option>';
        }
        $('#exp_month').html(month_opt);
    }
    $(document).ready(function () {
        /*$('#payform input:radio').click(function(){
         if($(this).val()==1){*/
        $('#payformdiv').show('slow');
        /*}else{
         $('#payformdiv').hide('slow');
         }
         });*/
        var user_id = "{/literal}{Yii::app()->user->id}{literal}";
        if (user_id != '') {
            if ($.cookie('showshipingaddr') == 1) {
                $('#address_details').show('slow');
            }
            addressclick();
        }
    })
    function addressclick() {
        $('.plan-box').click(function () {
            $('.plan-box').removeClass('choosen');
            $(this).addClass('choosen');
            $('.tick-icon').hide();
            $(this).find('.tick-icon').show();
            $('#plan_id').val($(this).attr('data-id'));
        });
    }

    function post_comment() {
        var is_login = check_login();
        if (is_login) {
            $.cookie("showshipingaddr", 0);
            showpgdiv('address_details');
        } else {
            $.cookie("showshipingaddr", 1);
        }
    }
    function check_login() {
        var user_id = "{/literal}{Yii::app()->user->id}{literal}";
        if (user_id != '') {
            return true;
        } else {
            $('#loginModal h4.modal-title').html(JSLANGUAGE.only_register_checkout);
            $("#login_link").click();
            return false;
        }
    }
    function deliveraddress(addressid,obj) {
        if($(obj).find(".tick-icon").css('display')=='none'){
            $('.loader_cart').show();
            var url = '{/literal}{$this->siteurl}{literal}/shop/DeliverAddress';
            $.post(url, {'data': addressid}, function (res) {
                $('.loader_cart').hide();
                var divid = 'payment_details';
                showpgdiv(divid);
            });   
    }
    }
    function editaddress(addressid) {
        $('.loader_cart').show();
        $('#payment_details').hide();
        var url = '{/literal}{$this->siteurl}{literal}/shop/EditAddress';
        $.post(url, {'data': addressid}, function (res) {
            $('.loader_cart').hide();
            $('#parentaddress').html(res);
            addressclick();
        });
    }
    function deleteaddress(addressid) {
        var x = confirm(JSLANGUAGE.delete_address);
        if (x) {
            $('.loader_cart').show();
            $('#payment_details').hide();
            var url = '{/literal}{$this->siteurl}{literal}/shop/DeleteAddress';
            $.post(url, {'data': addressid}, function (res) {
                $('.loader_cart').hide();
                $('#parentaddress').html(res);
                addressclick();
            });
        }
    }
    function shownew() {
        $('#savedaddress').hide('slow');
        $('#address_div').show('slow');
    }
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 49 || charCode > 57))
            return false;
        return true;
    }
    window.addEventListener("beforeunload", function (e) {
        if (browserreloadflag) {
            
            var confirmationMessage = "Performing any action while payment is in progress will interrupt the payment. Please wait for order to complete.";
            //console.log(confirmationMessage);
            (e || window.event).returnValue = confirmationMessage; //Gecko + IE
            return confirmationMessage;                            //Webkit, Safari, Chrome
        }
    });
</script>
{/literal}