<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <div class="c-content-box c-size-sm c-overflow-hide c-bg-white">
        <div class="container">
         <div class="row top20">
         <div class="col-lg-12 top-"><h2 class="">{$this->Language['product_details']}</h2></div>
         </div>
            
            <div class="c-shop-product-details-2 top20">
                <div class="row">
                    <div class="col-md-6">
                        <div class="c-product-gallery">
                            <div class="c-product-gallery-content">
                                <div class="c-zoom1">
                                    {assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}
                                    {assign var="img_path" value=PGProduct::getpgImage($product['id'],'original')}
                                    {if $img_path!=''}
                                    <img src="{$img_path}" alt="{$product['name']}">
                                    {else}
                                    <img data-src="holder.js/{$cropDimesion['width']}x{$cropDimesion['height']}" alt="{$cropDimesion['width']}x{$cropDimesion['height']}" style="width: 100%;" />
                                    {/if}
                                </div>
                            </div>
  
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-product-meta">
                            <div class="c-content-title-1" style="float: none;">
                                <h3 class="c-font-uppercase c-font-bold" style="word-wrap: break-word;">                                    
                                    {$product['name']}{if $product['is_preorder'] == 1}&nbsp;<span class="label label-danger">{$this->Language['coming_soon']} &nbsp;</span>{/if}
                                </h3>
                                <div class="c-line-left"></div>
                            </div>
                            <div class="clearfix"></div>
                            {if $product['is_preorder'] == 0}
                            <div class="c-product-price">{Yii::app()->common->formatPrice($product['sale_price'],$product['currency_id'])}</div>
                            {else}
                            <div class="c-product-price">Subscribers : {Yii::app()->common->formatPrice($prices['price_for_subscribe'],$product['currency_id'])}<br />Non-subscribers : {Yii::app()->common->formatPrice($prices['price_for_unsubscribe'],$product['currency_id'])}</div>
                            {/if}
                            <div class="c-product-short-desc">{$product['description']}</div>                                    
                            <div class="c-product-add-cart c-margin-t-20">
                              <div class="row">
                                   
                                    <div class="col-sm-6 col-xs-12 top20">
                                        <div class="c-input-group c-spinner">
                                            <p class="c-product-meta-label c-product-margin-2 c-font-uppercase c-font-bold">{$this->Language['quantity']}:  <input type="number" class="form-control c-item-1" min="1" value="1" id="product_qnt" onkeypress="return isNumberKey(event)" /></p> 
                                        </div>
                                    </div>
                                   <div class="col-sm-6 col-xs-12"></div>
                             </div>
                                <div class="row">
      
                                    {if $product['status']==1}                                        
                                    <div class="col-sm-4 col-xs-12 top20">
                                        <input type="button" onclick="showcart({$product['id']}, 1);" value="{$this->Language['add-to-cart']}" name="" class="AddToCart btn cart width100">
                                    </div>
                                    {if $product['is_preorder'] == 0}
                                    <div class="col-sm-4 col-xs-12 top20">
                                        <button class="AddToCart btn order-now width100" onclick="showcart({$product['id']}, 2);">{$this->Language['ordernow']}</button>
                                    </div>
                                    {else}
                                    <div class="col-sm-4 col-xs-12 top20">
                                        <button class="AddToCart btn cart width100" onclick="showcart({$product['id']}, 2);">{$this->Language['preorder']}</button>
                                    </div>
                                    {/if}                            
                                    {elseif $product['status']==3}
                                    <div class="col-sm-4 col-xs-12 top20">
                                        <button class="btn btn-primary width100">{$this->Language['stock_out']}</button>
                                    </div>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->

    <!-- END: PAGE CONTENT -->
</div>
<script type="text/javascript" src="{$this->siteurl}/common/js/placeholder/holder.js"></script>
<!-- BEGIN: PAGE SCRIPTS -->
<script src="{$this->siteurl}{$Yii->theme->baseUrl}/assets/plugins/zoom-master/jquery.zoom.min.js" type="text/javascript"></script>
<!-- END: PAGE SCRIPTS -->
{literal}
<script type="text/javascript">
    function showcart(id, flag){        
        var url = '{/literal}{$this->siteurl}{literal}/shop/addtocart';
        var qnt = eval($('#product_qnt').val());
        if(qnt>0){
            $('.loader_cart').show();
            $.post(url, {'quantity':qnt, 'id':id}, function(res){
            if (flag == 2){
                window.location.href = '{/literal}{$this->siteurl}{literal}/shop/cart';
            } else{
                $('.loader_cart').hide();
                    $('html,body').animate({scrollTop:0}, 500);
                    $('#round-cart').html(eval($('#round-cart').html()) + qnt);
                    $('#cartpopup').html(res);
                }
            })
        }else{
            alert('Enter Quantity');
        }        
    }
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 49 || charCode > 57))
            return false;
        return true;
    }
</script>
{/literal}
