<div> 
    <div class="thumbnail listpos physical"> 
        <div class="overtext popup_content">
            <div class="arrow"></div>
            <div class="ptitle caps"><a href="{$content->permalink}">{$content->title|utf8_decode}</a></div>
            <div class="stripe col-md-12">
                {if $content->is_preorder == 0}
                {$content->price}
                {else}
                &nbsp;
                {/if}
            </div>
            <div class="clear"></div>
            <div class="ptext">{$content->short_story|utf8_decode}</div><br />
            <div class="clear"></div>
            {if $content->status == 1}
            <p class="text-center">
                {if $content->is_preorder == 0}
                 <input type="button" class="AddToCart btn cart2" value="{$this->Language['add-to-cart']}" onclick="showcart({$content->movie_id}, 1);"><br /><br />
                 <input type="button" class="AddToCart btn order-now2" value="{$this->Language['ordernow']}" onclick="showcart({$content->movie_id}, 2);">
                 {else}
                    <input type="button" class="AddToCart btn order-now2" value="{$this->Language['preorder_now']}" onclick="window.location='{$producturl}/{$value['permalink']}'">
                 {/if}
            </p>
            {elseif $content->status == 3}
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group c-border-top" role="group">
                    <div class="stockout text-black">{$this->Language['stock_out']}</div>
                </div>
            </div>
            {/if}
        </div>         
        <a href="{$content->permalink}">
            <img class="img-tshow lazy" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}" src="{$content->poster}">
        </a>                                
    </div>
    <h3 class="moviename"><a href="{$content->permalink}">{$content->title|utf8_decode}</a></h3>
</div>