{literal}
<style>
    .primg img{height: auto !important;width: 100% !important;}
    .order-now{ color: #fff; }
    .cart{background: #A58600 !important; color: #fff; }
    .cart-box{border: 1px solid #2acb99;margin-bottom: 10px;padding:10px; background: #fff;}
    .title-new{font-size: 24px;}
    .cart-main-box{overflow: auto; padding: 5px}
    .price{font-size: 18px;}
</style>
{/literal}
<div class="cart-main-box">
    
    {assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}
    {assign var="producturl" value=Yii::app()->createUrl("/")}
    {foreach from=$contentproduct key=k item=value}
           <div class="col-sm-12 margin-bottom-30 cart-box">
            <div class="row">
                <div class="col-md-3 col-sm-6 primg">
  {$img_path=$value['img_path']}
                <a href="{$producturl}/{$value['permalink']}" style="color:#000">           
                    {if $img_path}
                    <img alt="{$value['name']}" src="{$img_path}" title="{$value['name']}"  style="width:100%;" />
                    {else}
                    <img data-src="holder.js/{$cropDimesion['width']}x{$cropDimesion['height']}" alt="{$value['name']}" title="{$value['name']}"  src="{$img_path}" />
                    {/if}
                        
                </a>                    </div>
                    <div class="col-md-9">
                        <h2 class="shop-item light-green-color text-left"><a href="{$producturl}/{$value['permalink']}">{$value['name']}</a></h2>
                          <p class="font10 text-left">{$value['description']}</p> 
                        <p class="font16 text-left ">{if $value['is_preorder'] == 0}
                        {Yii::app()->common->formatPrice($value['sale_price'],$value['currency_id'])}
                        {else}
                        &nbsp;
                        {/if}
                  
            
                
                
                <div class="pull-left">
                    {if $value['status']==1}
                    
                         <input type="button" class="AddToCart btn cart-btn" name="" value="{$this->Language['add-to-cart']}" onclick="showcart({$value['id']}, 1);">
                         <input type="button" class="AddToCart btn order-now" name="" value="{$this->Language['ordernow']}" onclick="showcart({$value['id']}, 2);">
                    {elseif $value['status']==3}
                   <button class="btn  btn-default btn-grey btn-product btn-disabled stockout">{$this->Language['stock_out']}</button>
                    {/if}  
                    

                </div>
            </div>
            </div>
        </div>
 {/foreach}
</div>
<script type="text/javascript" src="{$this->siteurl}/common/js/placeholder/holder.js"></script>
{literal}
<script type="text/javascript">
    function showcart(id,flag){
        $('.loader_cart').show();
        var url = '/shop/addtocart';
        $.post(url,{'quantity':1,'id':id},function(res){
            if(flag==2){
                 window.location.href = '/shop/cart';
            }else{
                $('.loader_cart').hide();
                $('html,body').animate({scrollTop:0}, 500);
                $('#round-cart').html(eval($('#round-cart').html())+1);
            }    
        })
    }
</script>
{/literal}