
{$content = $content|json_decode}

<div class="page-header">
    <!--Background Banner-->
    <div class="fill-header">
        <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Banner%20Pik.jpg" alt="Banner Header">
    </div>             
    <div class="page-title">
        <h2>{$content->title|utf8_decode}</h2>
    </div>
</div>

<div class="content-holder">
    <section class="p-t-0">
        <!---<h6>You searched for <span class="text-capitalize">“Routine”</span></h6>-->
        <div class="card-gallery">
            <div class="row">
                {$content->content|utf8_decode}
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    $('.menu_item a').removeClass('active');
    $('.wrapper').removeClass('has-not-sidebar');
    $('.wrapper').removeClass('modal-background');
    $('.wrapper').removeClass('background-container');
    $('#myModal-register').modal('hide');
    $('#myModal-register').on('hidden.bs.modal', function (e) {
        $('body').removeAttr('style');
    });
</script>