<footer>
    <div class="content-holder">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <!--Brand Logo-->
                <div class="fo-brand">
                    <img src="{$this->siteLogo}" alt="{$this->siteurl}">
                </div>
                <div class="divider"></div>
                <p class="fo-brand-desc">
                    {$this->copyright}
                </p>
            </div>
            <div class="col-sm-6 col-md-8">
                <div class="social">
                    {if isset($this->studio->fb_link) && $this->studio->fb_link != ''}
                    <a href="{$this->studio->fb_link}" target="_blank"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Share-FB.png" alt="{$this->Language['link_facebook']}" title="{$this->Language['link_facebook']}" width="32"></a>
                    {/if}
                    {if isset($this->studio->tw_link) && $this->studio->tw_link != ''}
                    <a href="{$this->studio->tw_link}" target="_blank"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Share-Twitter.png" alt="{$this->Language['link_twitter']}" title="{$this->Language['link_twitter']}" width="32"></a>
                    {/if}
                    {if isset($this->studio->gp_link) && $this->studio->gp_link != ''}
                    <a href="{$this->studio->gp_link}" target="_blank"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Share-Google-Plus.png" alt="{$this->Language['link_gplus']}" title="{$this->Language['link_gplus']}" width="32"></a>
                    {/if}
                    {if isset($this->studio->ig_link) && $this->studio->ig_link != ''}
                    <a href="{$this->studio->ig_link}" target="_blank"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/instagram.png" alt="{$this->Language['link_instagram']}" title="{$this->Language['link_instagram']}" width="32"></a>
                    {/if} 
                    {if isset($this->studio->yb_link) && $this->studio->yb_link != ''}
                    <a href="{$this->studio->yb_link}" target="_blank"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/youtube.png" alt="{$this->Language['link_youtube']}" title="{$this->Language['link_youtube']}" width="32"></a>
                    {/if} 
                   </div>
                <div class="app-store">
                    {if $this->iosapplinks==1 && $this->ioslinks!=''} <a href="{$this->ioslinks}"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/AppStore-Apple.png" alt="Apple App Store" width="120"></a>{/if}
                    {if $this->andriodapplinks==1 && $this->androidlinks!=''}<a href="$this->androidlinks"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/AppStore-Google.png" alt="Google App Store" width="120"></a>{/if}
                </div>
            </div>
        </div>
        <div class="row  text-center">
            <div class="col-sm-12">
                <div class="fo-nav">
                    <nav>
                        {if $this->has_blog}<a href="{$this->siteurl}/blog" title="{$this->Language['head_blog']}">{$this->Language['head_blog']}</a>{/if}
                        {if $this->has_faqs}<a href="{$this->siteurl}/faqs" title="{$this->Language['faq']}">{$this->Language['faq']}</a>{/if}
                        <a href="{$this->siteurl}/contactus" title="{$this->Language['contact_us']}">{$this->Language['contact_us']}</a>
                        {$pages = $this->Footerlinks}
                        {foreach from=$pages item=page}
                        {if $page['link_type'] == 'external'}
                        <a href="{$page['external_url']}" title="{$page['title']}" target="_blank" >{$page['title']}</a>
                        {else}
                        <a href="{$this->siteurl}/{$page['permalink']}" title="{$page['title']}">{$page['title']}</a>
                        {/if}
                        {/foreach}
                    </nav>

                    <div class="divider"></div>
                    {if ($this->studio->hide_powered_by == 0)&& ($this->studio->is_deleted == 0) && ($this->studio->status == 1) && ($this->studio->is_subscribed == 0)} 
                    <div class="powered-by">
                        <p>
                            {$this->Language['powered_by']} <a href="https://muvi.com/sdk/?utm_source={$studio->permalink}" target="_blank" title="{$this->Language['muvi']}"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Muvi-PoweredBy-Logo.png" alt="" width="70"></a>
                        </p>
                    </div>

                    <div class="remove-branding">
                        <a href="https://muvi.com/payment/subscription" class="btn as-btn-md fo-btn">{$this->Language['remove_this_branding']}
                            <span class="arrow-up"></span>
                        </a>
                    </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</footer>