
<nav class="sidebar-menu if-mobile mCustomScrollbar menu_item" data-mcs-theme="dark">
{if $this->mainmenu|@count > 0}          
    {foreach from=$this->mainmenu key=key item=mitem} 
    {assign var=val value=$val+1}
    <a {if $mitem['link_type'] != 2} id="menu-{$val}" data-pjax='main'{/if} href="{$mitem['permalink']}" class="{$mitem['class']}  dropdown-toggle">{$mitem['title']} </a>
    {foreach from=$mitem['children'] key=key item=mcitem}
    <a {if $mitem['link_type'] != 2} id="menu-{$val}" data-pjax='main'{/if} href="{$mcitem['permalink']}">{$mcitem['title']}</a>
    {/foreach}
    {/foreach}
    {/if}

</nav>

<script type="text/javascript">
    $('.menu_item a').click(function(){
        var id=$(this).attr('id');
        $(this).find(id).addClass('active');
        $('.menu_item a').not('[id='+id+']').removeClass('active');
    });
    
</script>