.loader_cart{
    display: none;
}
.loader-overlay {
    background: #333 none repeat scroll 0 0;
    opacity: 0.5;
    z-index: 100000;
}
.loader-overlay, .loader-elem-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.loader_cart .loader-body {
    background: rgba(51, 51, 51, 0.3) none repeat scroll 0 0;
    color: #333;
    left: 43%;
    padding: 7px;
    position: fixed;
    top: 43%;
    z-index: 100001;
}
.loader_cart .large .msg{
    background: #fff url("/images/loader.gif") no-repeat scroll 6% 50%;
    font-size: 20px;
    padding: 15px 20px 15px 50px;
}
@media (max-width: 992px) {
    .user-menu li a{
        color:#fff;
    }
}
.c-cart-menu-items{
    max-height: 400px;
    overflow: auto;
    width: 100%;
}
@media (max-height: 360px) {
    .c-cart-menu-items{
        max-height: 110px;
    }    
}
@media (min-height:361px) and (max-height: 480px) {
    .c-cart-menu-items{
        max-height: 280px;
    }
}
@media (min-width:768px) and (max-width: 992px) {
    .user-menu ul{
        position: relative;
    }    
    .dropdown-menu{
        background: #344048;
        box-shadow: none;
    }
}
#savedaddress .plan-box h2,#savedaddress .plan-box p{
    word-wrap: break-word;
}
.post-thumbnail {
    float: left;
    margin-right: 15px;
}
.post-thumbnail img{
    margin-bottom: 10px;
    max-width:200px;
}
@media (max-width:500px){
    .post-thumbnail{
        float:none;
    }
    .post-thumbnail img{
        width:100%;
        max-width:100%;
    }
}
.featured_image{
    margin-bottom:10px;
}
.desc img {
    width: 100%;
}
.short_desc a{
    color:#32c5d2;
}
@media screen and (max-width: 768px) {
.fancybox-overlay{
z-index: 999;
}
}

@media screen and (max-width: 360px) {
.fancybox-overlay{
z-index: 999;
}
}

#myPopover li{display: inline-block; padding: 8px; cursor: pointer; width: 100%;}
#myPopover li:hover, #myPopover li.active{color:#32c5d2;}
#myPopover ul, #myPopover li{list-style: none; padding:0px;}
.language_dropdown{
    margin-top: 25px;
       
    top: 0px;
    font-size: 14px;
    height: 14px
    }
.fa-language{
    font-size:20px;
  }
  
  .popover-contente{
      
   width:135px; 
    
  }