<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-sbold"><span class="c-font-uppercase">{$this->Language['product_details']}:</span> {$product['name']}</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="/shop">{$this->Language['shop']}</a>
                </li>
                <li>/</li>
                <li>
                    <a href="#">{$this->Language['product_details']}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <!-- BEGIN: PAGE CONTENT -->
    <!-- BEGIN: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->
    <div class="c-content-box c-size-sm c-overflow-hide c-bg-white">
        <div class="container">
            <div class="c-shop-product-details-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="c-product-gallery">
                            <div class="c-product-gallery-content">
                                <div class="c-zoom1" style="text-align: center;">
                                    {assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}
                                    {assign var="img_path" value=PGProduct::getpgImage($product['id'],'original')}
                                    {if $img_path!=''}
                                    <img src="{$img_path}" alt="{$product['name']}" style="width: auto;max-width: 100%;">
                                    {else}
                                    <img data-src="holder.js/{$cropDimesion['width']}x{$cropDimesion['height']}" alt="{$cropDimesion['width']}x{$cropDimesion['height']}" style="width: 100%;" />
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-product-meta">
                            <div class="c-content-title-1" style="float:none;">
                                <h3 class="c-font-uppercase c-font-bold" style="word-wrap: break-word;">                                    
                                    {$product['name']}{if $product['is_preorder'] == 1}&nbsp;<span class="label label-danger">{$this->Language['coming_soon']}&nbsp;</span>{/if}
                                </h3>
                                <div class="c-line-left"></div>
                            </div>
                            {if $trailerurl !=''}
                            <div style="margin-bottom: 10px;">
                                <a href="{$trailerurl}" class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase btn_view_trailer_inside">{$this->Language['view_trailer']}</a>
                            </div>
                            {/if}
                            <div class="clearfix"></div>
                            {if $product['is_preorder'] == 0}
                            <div class="c-product-price">
                                {if $product['is_free_offer'] == 0}
                                {if $product['sale_price'] != 0}
                                {Yii::app()->common->formatPrice($product['sale_price'],$product['currency_id'])}
                                {/if}
                                {else}
                                Free
                                {/if}
                            </div>
                            {else}
                            <div class="c-product-price">Subscribers : {Yii::app()->common->formatPrice($prices['price_for_subscribe'],$product['currency_id'])}<br />Non-subscribers : {Yii::app()->common->formatPrice($prices['price_for_unsubscribe'],$product['currency_id'])}</div>
                            {/if}
                            <div class="row" style="margin-bottom: 5px;">
                                <div class="col-sm-4 c-font-uppercase c-font-bold">
                                    {$this->Language['sku']} : <span style="color: #32c5d2;">{$product['sku']}</span>
                                </div>
                                {if $product['custom_fields'] !=''}
                                <div class="col-sm-4 c-font-uppercase c-font-bold">
                                    {$this->Language['format']} : <span style="color: #32c5d2;">{$product['custom_fields']}</span>
                                </div>
                                {/if}
                                {if $product['rating'] !=''}
                                <div class="col-sm-4 c-font-uppercase c-font-bold">
                                    {$this->Language['rating']} : <span style="color: #32c5d2;">{$product['rating']}</span>
                                </div>
                                {/if}
                            </div>
                            <div class="clearfix"></div>
                            <div class="c-product-short-desc">{$product['description']}</div>
                                {if $product['release_date'] && (($product['release_date']|date_format:"%m/%d/%Y") != '01/01/1970') }
                                <div class="c-font-uppercase c-font-bold ">{$this->Language['release_date']} : <span style="color: #32c5d2;">{$product['release_date']|date_format:"%m/%d/%Y"}</span></div>
                                {/if}
                            {if $product['is_free_offer'] == 0}
                            <div class="c-product-add-cart c-margin-t-20">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="c-input-group c-spinner">
                                            {if $product['status']!=3}
                                            <p class="c-product-meta-label c-product-margin-2 c-font-uppercase c-font-bold">{$this->Language['qty']}</p>
                                            <input type="text" class="form-control c-item-1" value="1" id="product_qnt" onkeypress="return isNumberKey(event)">
                                            <div class="c-input-group-btn-vertical">
                                                <button class="btn btn-default quant_inc" type="button" data_input="c-item-1" onclick="updatequan(1)">
                                                    <i class="fa fa-caret-up"></i>
                                                </button>
                                                <button class="btn btn-default quant_dec" type="button" data_input="c-item-1" onclick="updatequan(2)">
                                                    <i class="fa fa-caret-down"></i>
                                                </button>
                                            </div>
                                            {/if}
                                        </div>
                                    </div>
                                    {if $product['status']==1}                                        
                                    <div class="col-sm-3 col-xs-12 c-margin-t-20">
                                        <input type="button" {if $product['sale_price'] != 0} onclick="showcart({$product['id']},1);" {/if} value="{$this->Language['add-to-cart']}" name="" class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase" {if $product['sale_price'] == 0} disabled="disabled" {/if}>
                                    </div>
                                    {if $product['is_preorder'] == 0}
                                    <div class="col-sm-4 col-xs-12 c-margin-t-20">
                                        <button class="btn c-btn btn-lg c-btn-red c-btn-square c-font-white c-font-bold c-font-uppercase c-cart-float-l" {if $product['sale_price'] != 0} onclick="showcart({$product['id']}, 2,1);" {/if} {if $product['sale_price'] == 0} disabled="disabled" {/if}>{$this->Language['ordernow']}</button>
                                    </div>
                                    {else}
                                    <div class="col-sm-4 col-xs-12 c-margin-t-20">
                                        <button class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase c-bg-red" {if $product['sale_price'] != 0} onclick="showcart({$product['id']}, 2);" {/if} {if $product['sale_price'] == 0} disabled="disabled" {/if}>{$this->Language['preorder_now']}</button>
                                    </div>
                                    {/if}                            
                                    {elseif $product['status']==3}
                                    <div class="col-sm-4 col-xs-12 c-margin-t-20">
                                        <button class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase c-bg-red" {if $product['sale_price'] == 0} disabled="disabled" {/if}>{$this->Language['stock_out']}</button>
                                    </div>
                                    {/if}
                                </div>
                            </div>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/SHOPS/SHOP-PRODUCT-DETAILS-2 -->

    <!-- END: PAGE CONTENT -->
</div>
<script type="text/javascript" src="{$this->siteurl}/common/js/placeholder/holder.js"></script>
<!-- BEGIN: PAGE SCRIPTS -->
<script src="{$this->siteurl}{$Yii->theme->baseUrl}/assets/plugins/zoom-master/jquery.zoom.min.js" type="text/javascript"></script>
<!-- END: PAGE SCRIPTS -->
<script type="text/javascript" src="{$this->siteurl}{$Yii->theme->baseUrl}/js/cart.js"></script>
