.ui-widget-content{
    z-index: 1050 !important;
    height: 200px !important;
    overflow-y: scroll !important;
}
.ui-widget-content li:hover{
    background-color: #0081c2;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    color:white;
    text-decoration: none;
}
.ui-menu .ui-menu-item{
    padding: 5px;
}
.drag-cursor {
    list-style: outside none none;
}
.Collapse-Content ul.featured_contents{
    padding-left: 0;
}
ul.featured_contents h5{
    min-height: 35px;
}
ul.featured_contents li{
    float: left;
}
@media (min-width: 1560px) {
    ul.featured_contents li{
        width: 18%;
    } 
}
#banner_sortable li{
    display: inline;
}
.img-thumbnail {
    height: 107px !important;
    width: 107px !important;
    margin-bottom: 3px;
}
.upload-Image {
    height: 107px;
    width: 107px;
    background-color: #fff;
    border-color: #fff;
    display: inline-flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}      
.upload-Image em{
    font-size: 2.5em;
    top: 50%;
    position: absolute;
    margin-top: -17px;
    left: 47%;
    margin-left: -17px;
    color:#2cb7f6;
}
.upload-Image:hover{ 
    background-color: #edf1f2;
}
.upload-Image:hover em{
    color: #0aa1e5;
}
.btn.upload-Image.relative {
    margin-top: -3px;
    float: left;
}    
.play-btn-big {
    background: rgba(0, 0, 0, 0) url("../images/play-button.png") repeat scroll 0 0;
    bottom: 0;
    height: 64px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
}
ul.sortable {width: 100%; float: left; margin: 20px 0; list-style: none; position: relative !important;}
ul.sortable li {height: 107px; float: left;  border: 2px solid #fff; cursor: move;}
ul.sortable li.ui-sortable-helper {border-color: #3498db;}
ul.sortable li.placeholder {width: 107px; height: 107px; float: left; background: #eee; border: 2px dashed #bbb; display: block; opacity: 0.6;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
