{if $is_voucher==0}
{$transaction=$transaction|json_decode}
<div class="single-product-area">
    <div class="container">
        <div class="row top20">  
            <h2>{$this->Language['transaction_detail']}</h2>            
            <p>{$this->Language['transaction_date']} : {$transaction->transaction_date}</p>
            <p>{$this->Language['order']} : {$transaction->order_number}</p>
            <p>{$this->Language['amount']} : {$transaction->amount}</p>
            <p>{$this->Language['invoice']} : {$transaction->invoice_id}</p>
            <p>Transaction Status : {$transaction->transaction_status}</p>
            <p>{$this->Language['plan_name']} : {$transaction->plan_name}</p>
            <div><a href="#" onclick="javascript: history.back();" class="btn btn-primary">Back</a></div>
        </div>
    </div>
</div>
{/if}
{if $is_voucher==1}
<div class="single-product-area">
    <div class="container">
        <div class="row top20">  
            <h2>{$this->Language['voucher_detail']}</h2>            
            <p>{$this->Language['voucher_date']} : {$vcreated_date}</p>
            <p>{$this->Language['order']} : {$unique_id}</p>
            <p>{$this->Language['voucher_name']} : {$voucher_code}</p>
            <p>{$this->Language['voucher_applyon']} : {$vmovie_names}</p>
            <div><a href="#" onclick="javascript: history.back();" class="btn btn-primary">Back</a></div>
        </div>
    </div>
</div>
{/if}