<div class="single-product-area contact-form">
    <div class="c-layout-page">
        <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-sbold">{$this->Language['contact_us']}</h3>
                    <h4 class=""></h4>
                </div>
            </div>
        </div>
        <div class="container">

            <h3 class="c-font-uppercase c-font-bold">{$this->Language['contact_us']}</h3>
            <div class="row">
                <div class="col-md-12">
                    <form name="ContactForm" id="contactus_form" method="post" action="{$this->siteurl}/site/contactus">
                        <h4 class="c-font-uppercase c-font-sbold">{$this->Language['fill_form_below']}</h4>
                        <div class="form-group ">
                            <label class="control-label" for="name">{$this->Language['text_name']}</label>
                            <div class="controls">
                                <input type="text" required name="ContactForm[name]" id="contact_name" placeholder="{$this->Language['text_name_placeholder']}" autocomplete="off" class="form-control c-square c-theme" value=""   autofocus />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="name">{$this->Language['email']}</label>
                            <div class="controls">
                                <input type="email"  name="ContactForm[email]" id="email" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control c-square c-theme" value=""  required />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="password">{$this->Language['text_message']}</label>
                            <div class="controls">
                                <textarea rows="4" name="ContactForm[message]" id="message" placeholder="{$this->Language['text_message_placeholder']}" class="form-control c-square c-theme" required ></textarea>
                            </div>
                        </div>
						<input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                        <div class="form-group ">
                            <div class="controls text-right">
                                <input type="text" id="ccheck" name="ccheck" placeholder="" autocomplete="off" style="display: none;" />
                                <input type="hidden" name="submit-btn" id="submit-btn"/>
                                <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" name="contactus" id="contact_us">{$this->Language['btn_send']}</button>
                            </div>
                        </div>
                        <div id="login-errors" class="error center"></div>
                    </form>  
                </div> 
            </div>
        </div>
        <script type="text/javascript">
            $('#contact_us').on('click', function () {
                $('#submit-btn').val('contact');
            })
        </script>            
    </div>
</div>