{if $this->ishome}
<div class="navbar-wrapper">
{else}
<div class="navbar-wrapper broder-bottom home2">
{/if}
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"  aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{$this->siteurl}"><img src="{$this->siteLogo}" title="{$this->studio->name}" class="img-responsive" alt="{$this->studio->name}" /></a>
            </div>


            <div id="navbar" class="navbar-collapse collapse">
                {$this->main_menu}


                {$this->user_menu|json_decode} 
                <ul class="nav navbar-nav navbar-right">

		{$language_code = $this->language_code}
                       {$totallang =$this->enable_laguages|count}
			 {if $totallang > 1} 
			  {$studio_languages = $this->enable_laguages}
		           <li>                            
                           <div class="form-group language-list" >
                               <select class="form-control" name="language" id="language" onchange="changeLang(this.value)">
                                   {foreach from=$studio_languages key=key item=value}
                                   {if $value['status'] != 0} 
                                   <option value="{$value['code']}" {if $language_code == $value['code']} {"SELECTED"} {/if}>
                                                                        {$value['name']} </option>
                                   {elseif $value['code'] == "en"}
                                   <option value="{$value['code']}" {if $language_code == $value['code']} {"SELECTED"} {/if}>{$value['name']}</option>
                                   {/if}  
                             
                                   {/foreach}
                               </select>
                           </div>
		            </li>
			{/if}

                    <li>                            

                        <form class="navbar-form" onsubmit="return validate_search();" action="/search/show_all" id="search-form">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control" id="siteSearch" placeholder="{$this->Language['text_search_placeholder']}" name="search_field" />
								<input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </li>
                    {if Yii::app()->general->getStoreLink()}
                    <li class="cart_icon_parent">
                        <a href="/shop/cart">
                            <div id="round-cart">{if $smarty.session.totalqnt}{$smarty.session.totalqnt}{else}0{/if}</div>
                            <img src="{$this->siteurl}/images/icon-cart.png">
                        </a>
                    </li>
                    {/if}
 
                </ul> 
            </div><!--/.nav-collapse -->                    

        </nav>

    </div>
</div> 
