.vjs-watermark {
    position: absolute;
    display: inline;
    z-index: 2000;
}

#checkLiveStream{
    position: absolute; 
    font-size: 13px; 
    font-weight: bold; 
    color: #dad7d7; 
    z-index: 9999; 
    top: 15px; 
    right: 10px; 
    background: rgba(85, 85, 85, 0.9); 
    padding: 8px 10px; 
    border-radius: 5px;
}
#checkLiveStream img{
    margin-top: -1px;
}