{$content = $content|json_decode}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$content->title|utf8_decode}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="container">
        <div class="wrapper bottom-padding50">
            <div class="row top20">
                <div class="col-md-12">{$content->content|utf8_decode}</div>
            </div>
        </div>
    </div>
</div>