{assign var=pgcsettings value=Yii::app()->general->getPgSettings()}
{assign var=kartgeoblock value=$pgcsettings['kart_geo_block']}
{if $kartgeoblock}
<link rel="stylesheet" href="{$this->siteurl}/common/bootstrap-forms/css/bootstrap-formhelpers.css" type="text/css" />
<script type="text/javascript" src="{$this->siteurl}/common/bootstrap-forms/js/bootstrap-formhelpers.js"></script>
<script type="text/javascript" src="{$this->siteurl}/common/bootstrap-forms/js/bootstrap-formhelpers-countries.js"></script>
{/if}
<style>    
    .titleheight{
        height:47px;
    }
    .c-layout-header .c-quick-search > .leftsearchicon{
        position: absolute;
        top: 39px;
        font-size:22px;
    }
    .c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-quick-search > .leftsearchicon{
        top: 21px;
    }
    @media (max-width: 992px) {
        .c-layout-header .c-quick-search > .leftsearchicon{
            top: 21px;
        }
    }
    {if $kartgeoblock}
    @media (min-width:992px){
        .c-layout-header .c-navbar .c-mega-menu.c-pull-right{
            right: 15px;
            position: absolute;
        }
        .c-layout-header-fixed.c-layout-header-topbar .c-layout-page{
            margin-top: 145px;
        }
    }
    .c-layout-header .c-topbar-light{
        display:block;
    }
    {/if}
    #siteSearch{
        margin-left: 25px;
    }
</style>
<!-- BEGIN: HEADER -->
<header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
    {if $kartgeoblock}
        {assign var=pgccontries value=$pgcsettings['restrict_country']|json_decode:true}    
        {if empty($pgccontries)}    
        {else}    
    <div class="c-topbar c-topbar-light">
        <div class="container">
            <!-- BEGIN: INLINE NAV -->
                <nav class="c-top-menu c-pull-right">
                <ul class="c-links c-theme-ul">
                        <li style="float: left;font-size:14px;">{$this->Language['change_country']}</li>
                </ul>
                <ul class="c-ext c-theme-ul">
                            <li>
                            <div style="margin-top:5px;" class="bfh-selectbox bfh-countries" data-country="{$smarty.session.country}" data-available="{','|implode:$pgccontries}" data-flags="true" data-blank="false">
                            </div>
                            </li>
                    <li class="c-search hide">
                        <!-- BEGIN: QUICK SEARCH 
                        <form action="#">
                            <input type="text" name="query" placeholder="search..." value="" class="form-control" autocomplete="off">
                            <i class="fa fa-search"></i>
                        </form>
                        <!-- END: QUICK SEARCH -->
                    </li>
                </ul>
            </nav>
            <!-- END: INLINE NAV -->
        </div>
    </div>
        {/if}
    {/if}
    <div class="c-navbar">
        <div class="container">
            <!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
                <div class="c-brand c-pull-left">
                    <a href="{$this->siteurl}" class="c-logo">
                        <img src="{$this->siteLogo}" alt="{$this->studio->name}" class="c-desktop-logo">
                        <img src="{$this->siteLogo}" alt="{$this->studio->name}" class="c-desktop-logo-inverse">
                        <img src="{$this->siteLogo}" alt="{$this->studio->name}" class="c-mobile-logo"> </a>
                    <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                    </button>
                    <button class="c-topbar-toggler" type="button" >
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <button class="c-search-toggler" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="c-cart-toggler" type="button">
                        <i class="icon-handbag"></i>
                        <span class="c-cart-number c-theme-bg">
                            <span class="round-cart">
                                {if $smarty.session.totalqnt}
                                {$smarty.session.totalqnt}
                                {else}
                                0
                                {/if}
                            </span>
                        </span>
                    </button>
                </div>
                <!-- END: BRAND -->
                <!-- BEGIN: QUICK SEARCH -->
               <form class="c-quick-search" onsubmit="return validate_search();" action="/search/show_all" id="search-form">
                    <i class="fa fa-search leftsearchicon"></i>
                    <input type="text" class="form-control" id="siteSearch" placeholder="{$this->Language['type_to_search']}" name="search_field" autocomplete="off" />
					<input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                    <span class="c-theme-link">&times;</span>
                </form>
                <!-- END: QUICK SEARCH -->
                <!-- BEGIN: HOR NAV -->
                <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- BEGIN: MEGA MENU -->
                <!-- Dropdown menu toggle on mobile: c-toggler class can be a''
                
                pplied to the link arrow or link itself depending on toggle mode -->
                <div class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                    <ul class="nav navbar-nav c-theme-nav">
                        {if $this->mainmenu|@count > 0}                        
                            {foreach from=$this->mainmenu key=key item=mitem}  
							  {assign var=val value=$val+1}
                            <li {if $mitem['children']|@count > 0}class="c-menu-type-classic"{/if}><a href="{$mitem['permalink']}" id="menu-{$val}" {if $mitem['link_type'] == 2} target=""{/if} class="{$mitem['class']} c-link dropdown-toggle">{$mitem['title']} {if $mitem['children']|@count > 0}<span class="caret"></span>{/if}</a>
                                {if $mitem['children']|@count > 0}
                                <ul class="dropdown-menu">
                                    {foreach from=$mitem['children'] key=key item=mcitem}
                                    <li><a href="{$mcitem['permalink']}" id="menu-{$val}"  {if $mitem['link_type'] == 2} target="_blank"{/if}>{$mcitem['title']}</a></li>
                                    {/foreach}
                                </ul>
                                {/if}
                            </li>
                            {/foreach}
                        {/if}
                        
                        <!-- END: QUICK SEARCH -->
                        <!-- BEGIN: HOR NAV -->
                        <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
                        <!-- BEGIN: MEGA MENU -->
                        <!-- Dropdown menu toggle on mobile: c-toggler class can be a''
                
                pplied to the link arrow or link itself depending on toggle mode -->                
                        <li class="c-search-toggler-wrapper">
                            <a href="#" class="c-btn-icon c-search-toggler">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        {if Yii::app()->general->getStoreLink()}
                        <li class="c-cart-toggler-wrapper">
                            <a href="#" class="c-btn-icon c-cart-toggler">
                                <i class="icon-handbag c-cart-icon"></i>
                                <span class="c-cart-number c-theme-bg">
                                    <span class="round-cart">
                                        {if $smarty.session.totalqnt}
                                        {$smarty.session.totalqnt}
                                        {else}
                                        0
                                        {/if}
                                    </span>
                                </span>
                            </a>
                        </li>
                        {/if}
                        {if $this->usermenu|@count > 0}                        
                            {foreach from=$this->usermenu key=key item=mitem}   
                            {if $mitem['children']|@count > 0}
                            <li class="c-menu-type-classic"><a href="#" class="{$mitem['class']} c-link dropdown-toggle"><img class="img-circle user-icon" alt="" title="{$mitem['display_name']}" src="{$mitem['profile_image']}" /> {$mitem['display_name']} <span class="caret"></span></a>
                            {else}
                            <li><a href="{$mitem['permalink']}" class="{$mitem['class']} c-link">{if $mitem['class'] == 'register'}<i class="fa fa-user"></i> 
                                    {elseif $mitem['class'] == 'login'} 
                                    <i class="fa fa-lock"></i> 
                                    {/if}{$mitem['title']}
                                </a>
                            {/if}                                
                                {if $mitem['children']|@count > 0}
                                <ul class="dropdown-menu">
                                    {foreach from=$mitem['children'] key=key item=mcitem}
                                    <li><a {if $mcitem['class'] == 'cancelsubscription'} data-target="#cancelsubscription" data-toggle="modal"{else}href="{$mcitem['permalink']}"{/if} class="{$mcitem['class']}">{$mcitem['title']}</a></li>
                                    {/foreach}
                                </ul>
                                {/if}
                            </li>
                            {/foreach}
                        {/if}                            

                    {$language_code = $this->language_code}

                    {$totallang =$this->enable_laguages|count}
                    {if $totallang > 1} 
                    {$studio_languages = $this->enable_laguages}
                    <li><a href="#" rel="popover" data-popover-content="#myPopover" data-placement="bottom" class="c-link language-list text-center"><i class="fa fa-language" aria-hidden="true"></i></a></li>
                    {/if} 
                    </ul>
                    {if $totallang > 1} 
                    <div id="myPopover" class="hide">
                        <ul>
                            {foreach from=$studio_languages key=key item=value}
                            {if $value['status'] != 0} 
                            <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">{$value['name']} </li>
                            {elseif $value['code'] == "en"}
                            <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">
                                {$value['name']}
                            </li>
                            {/if} 
                            {/foreach}
                        </ul>
                    </div>  
                    {/if} 
                </div>
                <!-- END: MEGA MENU -->
                <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- END: HOR NAV -->
            </div>
            <!-- BEGIN: LAYOUT/HEADERS/QUICK-CART -->
            <!-- BEGIN: CART MENU -->
            <div ></div>
            <div id="cartpopup">
                {include file='../shop/cartpopup.html'}
            </div>            
            <!-- END: CART MENU -->
            <!-- END: LAYOUT/HEADERS/QUICK-CART -->
        </div>
    </div>
</header>
<!-- END: HEADER -->
{if $kartgeoblock}
    {literal}
    <script type="text/javascript">
    $(document).ready(function(){
        $('.bfh-selectbox').on('change.bfhselectbox', function () {
            var countrycode = $(this).val();
            $('.loader_cart').show();
            var url = '{/literal}{$this->siteurl}{literal}/shop/CountryChange';
            $.post(url, {'countrycode': countrycode}, function (res) {
                //$('.loader_cart').hide();
                window.location.reload();
            })
        });
    });
   //$("#user_menu").append('<li><a href="#" rel="popover" data-popover-content="#myPopover" data-placement="bottom" class="language-list text-center"><i class="fa fa-language" aria-hidden="true"></i></a></li>'); 
    </script>
    {/literal}
{/if}
{literal}
<script type="text/javascript">
    
 $('[rel="popover"]').popover({
        container: 'body',
        html: true,
        content: function() {
            var clone = $($(this).data('popover-content')).clone(true).removeClass('hide');
            return clone;
        }
    }).click(function(e) {
        e.preventDefault();
    });
    
   
   
   $('[data-toggle="popover"]').popover();




    $(document).on('click', function (e) {
    $('[data-toggle="popover"],[data-original-title]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {                
            (($(this).popover('hide').data('bs.popover')||{}).inState||{}).click = false  // fix for BS 3.3.6
        }

    });
});
   
    </script>

{/literal}

