
body {
    font-family: proximaNova Light,arial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.wrapper {
    margin: 0 auto;
    padding: 0;
}
.header {
    margin: 0;
    padding: 0;
    width: 100%;
}
.top {
    background: none repeat scroll 0 0 #000000;
    height: 63px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.top_bar {
    margin: auto;
    padding: 0;
    width: 960px;
}
.top_bar img {
    float: left;
    margin: 16px 0 0 30px;
    padding: 0;
}
.login {
    border-left: 1px solid #666666;
    float: right;
    height: 47px;
    margin: 8px 0;
    padding: 0;
    width: 88px;
}
.login a {
    color: #FFFFFF;
    display: block;
    font: 12px Arial,Helvetica,sans-serif;
    height: 48px;
    margin: 0;
    padding: 10px 0 0;
    text-decoration: none;
    width: 80px;
}
.banner {
    background: url("../images/homepage/bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 411px;
    margin: auto;
    padding: 0;
    width: 100%;
    position: relative;
}
.banner input {
    background: url("../images/homepage/btn1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    height: 68px;
    margin: 9%;
    padding: 0;
    width: 270px;
}
.bar1 {
    height: 181px;
    margin: 0 auto;
    padding: 0 0 0 30px;
    text-align: left;
    width: 960px;
}
.bar1 h3 {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22.48px;
    margin: 0;
    padding: 40px 0 0;
}
.bar1 ul {
    margin: 0;
    padding: 0;
}
.bar1 ul li {
    display: inline;
    margin: 0;
    padding: 0;
    width: 239px;
}
.bar1 ul li a {
    display: block;
    float: left;
    margin: 0;
    opacity: 0.6;
    padding: 0;
    width: 239px;
}
.bar1 ul li a:hover {
    opacity: 1;
}
.bar1 ul li a img {
    border: medium none;
    margin: 0;
    padding: 0;
}
article {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #EAEAEA;
    height: 382px;
    margin: 0;
    padding: 0;
    width: 100%;
}
section {
    margin: 0 auto;
    padding: 0 0 0 30px;
    text-align: left;
    width: 960px;
}
section h1 {
    color: #3D3D3D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 47px 0 20px;
}
section p {
    color: #7D7D7D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 25px 0;
}
section img {
    float: right;
    margin: -350px 0 0;
    padding: 0;
    top: 0;
}
.bar2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #EAEAEA;
    height: 355px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.bar2 section {
    margin: 0 auto;
    padding: 0 0 0 30px;
    text-align: right;
    width: 960px;
}
.bar2 section h1 {
    color: #3D3D3D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 47px 0 20px;
}
.bar2 section p {
    color: #7D7D7D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 25px 0;
    text-align: right;
}
.bar2 section img {
    float: left;
    margin: 0;
    padding: 0;
    top: 0;
}
footer {
    background: none repeat scroll 0 0 #000000;
    height: 75px;
    margin: 0;
    padding: 0 0 0 30px;
}
footer section {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
footer section img {
    float: left;
    margin: 31px 0 0;
    padding: 0;
}
footer section p {
    margin: 0;
    padding: 33px 0 0 50px;
}
.clear {
    clear: both;
}
.login_block {
    background-color: #202020;
    display: none;
    height: 212px;
    left: 879px;
    position: absolute;
    top: 63px;
    width: 268px;
}
.success_block {
    background-color: #202020;
    display: none;
    height: 115px;
    left: 879px;
    position: absolute;
    top: 63px;
    width: 268px;
}
.left {
    float: left;
}
.right {
    float: right;
}
input, button, select, textarea {
    font-family: "Lato",sans-serif;
    font-size: 14px;
}
a {
    color: #16A085;
    text-decoration: underline;
    transition: all 0.25s ease 0s;
}
a:hover {
    color: #1ABC9C;
    text-decoration: none;
}
h1 {
    font-size: 32px;
    font-weight: 900;
}
h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 2px;
}
h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 2px;
}
h4 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 4px;
}
h5 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
h6 {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}
.btn, .btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 14.994px;
    font-weight: 500;
}
.btn {
    background: none repeat scroll 0 0 #BDC3C7;
    border: medium none;
    border-radius: 6px;
    box-shadow: none;
    color: #FFFFFF;
    line-height: 22px;
    padding: 9px 12px 10px;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.25s ease 0s;
}
.btn:hover, .btn:focus, .btn-group:focus .btn.dropdown-toggle {
    background-color: #CACFD2;
    color: #FFFFFF;
    outline: medium none;
    transition: all 0.25s ease 0s;
}
.btn:active, .btn-group.open .btn.dropdown-toggle, .btn.active {
    background-color: #A1A6A9;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.75);
}
.btn.disabled, .btn[disabled] {
    background-color: #BDC3C7;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.75);
    opacity: 0.7;
}
.btn.btn-large {
    font-size: 16.996px;
    line-height: 20px;
    padding: 12px 18px 13px;
}
.btn.btn-large > [class^="fui-"] {
    top: 0;
}
.btn.btn-large > .pull-right[class^="fui-"] {
    margin-right: -2px;
}
.btn.btn-primary {
    background-color: #1ABC9C;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn-group:focus .btn.btn-primary.dropdown-toggle {
    background-color: #48C9B0;
}
.btn.btn-primary:active, .btn-group.open .btn.btn-primary.dropdown-toggle, .btn.btn-primary.active {
    background-color: #16A085;
}
.btn.btn-info {
    background-color: #3498DB;
}
.btn.btn-info:hover, .btn.btn-info:focus, .btn-group:focus .btn.btn-info.dropdown-toggle {
    background-color: #5DADE2;
}
.btn.btn-info:active, .btn-group.open .btn.btn-info.dropdown-toggle, .btn.btn-info.active {
    background-color: #2C81BA;
}
.btn.btn-danger {
    background-color: #E74C3C;
}
.btn.btn-danger:hover, .btn.btn-danger:focus, .btn-group:focus .btn.btn-danger.dropdown-toggle {
    background-color: #EC7063;
}
.btn.btn-danger:active, .btn-group.open .btn.btn-danger.dropdown-toggle, .btn.btn-danger.active {
    background-color: #C44133;
}
.btn.btn-success {
    background-color: #2ECC71;
}
.btn.btn-success:hover, .btn.btn-success:focus, .btn-group:focus .btn.btn-success.dropdown-toggle {
    background-color: #58D68D;
}
.btn.btn-success:active, .btn-group.open .btn.btn-success.dropdown-toggle, .btn.btn-success.active {
    background-color: #27AD60;
}
.btn.btn-warning {
    background-color: #F1C40F;
}
.btn.btn-warning:hover, .btn.btn-warning:focus, .btn-group:focus .btn.btn-warning.dropdown-toggle {
    background-color: #F5D313;
}
.btn.btn-warning:active, .btn-group.open .btn.btn-warning.dropdown-toggle, .btn.btn-warning.active {
    background-color: #CDA70D;
}
.btn.btn-inverse {
    background-color: #34495E;
}
.btn.btn-inverse:hover, .btn.btn-inverse:focus, .btn-group:focus .btn.btn-inverse.dropdown-toggle {
    background-color: #415B76;
}
.btn.btn-inverse:active, .btn-group.open .btn.btn-inverse.dropdown-toggle, .btn.btn-inverse.active {
    background-color: #2C3E50;
}
.btn > [class^="fui-"] {
    display: inline-block;
    margin: 0 4px;
    position: relative;
    top: 1px;
    vertical-align: top;
}
.btn > .pull-right[class^="fui-"] {
    margin-right: 0;
}
.btn-toolbar .btn.active {
    color: #FFFFFF;
}
.btn-toolbar .btn:first-child {
    border-radius: 6px 0 0 6px;
}
.btn-toolbar .btn:last-child {
    border-radius: 0 6px 6px 0;
}
.btn-toolbar .btn > [class^="fui-"] {
    font-size: 16px;
    top: 0;
}
.btn-tip {
    font-weight: 300;
    padding-left: 10px;
}
.btn-group > .btn {
    border-radius: 0;
    text-align: center;
}
.btn-group > .btn:active + .btn, .btn-group > .btn.active + .btn {
    border-left-color: rgba(0, 0, 0, 0);
}
.btn-group > .btn:first-of-type {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.btn-group > .btn:last-of-type {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.btn-group > .btn + .btn {
    margin-left: 0;
}
.btn-group > .btn + .dropdown-toggle {
    border-left: 2px solid rgba(52, 73, 94, 0.15);
    box-shadow: none;
    padding-left: 13px;
    padding-right: 13px;
}
.btn-group > .btn + .dropdown-toggle .caret {
    margin-left: 3px;
    margin-right: 3px;
}
.btn-group > .btn.btn-huge + .dropdown-toggle .caret {
    margin-left: 7px;
    margin-right: 7px;
}
.btn-group > .btn.btn-small + .dropdown-toggle .caret {
    margin-left: 0;
    margin-right: 0;
}
select {
    border-bottom-color: #FFFFFF;
    border-left-width: 6px;
    border-right-width: 6px;
    border-style: solid solid none;
    border-top: 8px solid #FFFFFF;
    transition: all 0.25s ease 0s;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border: 2px solid #BDC3C7;
    border-radius: 6px;
    box-shadow: none;
    color: #34495E;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    height: 16px;
    padding: 8px 5px;
    text-indent: 6px;
    transition: border 0.25s linear 0s, color 0.25s linear 0s;
}
textarea:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="color"]:-moz-placeholder, .uneditable-input:-moz-placeholder {
    color: #B2BCC5;
}
textarea.placeholder, input.placeholder[type="text"], input.placeholder[type="password"], input.placeholder[type="datetime"], input.placeholder[type="datetime-local"], input.placeholder[type="date"], input.placeholder[type="month"], input.placeholder[type="time"], input.placeholder[type="week"], input.placeholder[type="number"], input.placeholder[type="email"], input.placeholder[type="url"], input.placeholder[type="search"], input.placeholder[type="tel"], input.placeholder[type="color"], .uneditable-input.placeholder {
    color: #B2BCC5;
}
label {
    color: #494949;
    float: left;
    font-size: 15px;
    width: 150px;
}
.field_with_errors {
    display: inline;
}
.upload {
    border-top: 1px solid #CCCCCC;
    margin-top: 10px;
    padding-top: 10px;
    width: 400px;
}
.upload .progress {
    border: 1px solid #555555;
    border-radius: 3px;
    margin-top: 8px;
}
.upload .progress .bar {
    background: none repeat scroll 0 0 #3EC144;
    height: 10px;
}
/* Header outer -- Starts */
.login-link{
    font-size: 18px;
    list-style: none;
}
.login-link a{
    text-decoration: none;
}
.login-link a:focus,.login-link a:hover{background-color:#222222 !important;}

.lbimage{
    position: absolute;
    left:7%;
    bottom: 0%;
}
.rbimage{
    position: absolute;
    right:7%;
    bottom: 0%;
}
.tbimage{
    position: absolute;
    top:10%;
    left: 35%;
}