.wannasee_block{
        height:88.4%;
        position:absolute;
        width:25%;
        background-color:rgba(38,55,71,0.3);
        top:0%;
        text-align:left;
        z-index:2147483647;
}

.more_info{
  display:none;
  position:absolute;
  top:5%;
  left:30%;
  padding:15px;
  height:40%;
  width:50%;
  background-color:rgba(38,55,71,0.3);
  text-align:left;
  /*z-index:2147483647;*/
  font-size:14px;
  border:1px solid rgba(38,55,71,0.3);
}
.left_movie_block{
        height:100px;
        font-size:15px;
        color:#fff;
        margin:5px;
        border-bottom:1px solid #52555c;
}

.btm_movie_block{
        height:87%;
        width:17.2%;
        font-size:15px;
        color:#fff;
        padding:5px 10px;
        z-index:2147483647;
}

.btm_movie_name{
  padding:10px;
  font-size:15px;
  float:left;
  width:38%;
}
.active_block{
  background-color:#379ed8;
}


.bottom_div{
  height:105px;
  position:absolute;
  width:100%;
  /*top:68%;*/
  bottom:11%;
  background-color:rgba(38,55,71,0.3);
  display:none;
  text-align:left;
  z-index:2147483647;
  background: -moz-linear-gradient(top,  rgba(39,55,71,1) 0%, rgba(39,55,71,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(39,55,71,1)), color-stop(100%,rgba(39,55,71,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(39,55,71,1) 0%,rgba(39,55,71,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(39,55,71,1) 0%,rgba(39,55,71,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(39,55,71,1) 0%,rgba(39,55,71,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(39,55,71,1) 0%,rgba(39,55,71,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273747', endColorstr='#00273747',GradientType=0 ); /* IE6-9 */
}

.img_block{
  height:300px;
  width:200px;
}
.trailer_div{
  display:none;
  position:absolute;
  top:15%;
  left:45%;
  padding:15px;
  height:250px;
  width:420px;
  z-index:2147483647;
}
.vjs-control-bar{
  /*top:85%;*/
}
#name_block{
  color:#fff;
  font-size:18px;
  font-weight:bold;
}
.all_info{
  width:57%;
  float:left;
  padding-left:10px;
}
#why_watch_block  {
  height:35px;
  color:#fff;
  font-size:13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#story_block  {
  height:70px;
  color:#fff;
  font-size:13px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.payment_btn{
  /*width:80px;
  height:50px;*/
  background-color:#fff;
  color:#000;
  line-height:20px;
  font-weight:bold;
  font-size:35px;
  text-decoration:none;
  padding:12px;
  border-radius:5px;
  margin-right:20px;
  text-align:center;
}
.btm_movie_name{
  padding:10px;
  font-size:15px;
  float:left;
}
.m_icon{
  height:25px;
  width:37px;
}

.btn_section{
  padding-top:15px;
}
#play_icon{
  height:50px;
}
.cast2{
float:left;
padding-left:10px;
}
.cast_name{
  font-size:13px;
  padding-top:10px;
}
.cast_name_info{
  float:left;
  color:#fff;
  padding-left:10px;
  width:110px;
}
.video-js {
  margin-top: 0px;
  background-color:#000;
}
#loader_div{
  left:30%;
  top:40%;
  position:absolute;
  z-index:2147483649;
}
.wannasee_msg{
  top: 70%;
  left: 2%;
  position: absolute;
  width: 20%;
  height: 16%;
  text-align: left;
  font-size: 13px;
  color: #fff;
  background-color: #404040;
  padding: 5px;
}
.random_msg{
  color: #FFFFFF;
  font-size: 16px;
  left: 25%;
  position: absolute;
  text-align: center;
  top: 53%;
  width: 60%;
}
.youtube_bottom{
  height: 10%;
  position: absolute;
  width: 100%;
  bottom: 1%;
  background-color: #000;
  text-align: left;
  display:none;
  z-index: 2147483647;
}
