<div class="c-layout-page">
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{$this->Language['product_list']}</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="{$this->siteurl}">{$this->Language['shop']}</a>
                </li>
                <li>/</li>
                <li>
                    <a href="{$this->siteurl}/shop">{$this->Language['product_list']}</a>
                </li>
            </ul>
        </div>
    </div>
    {assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}    
    <div class="container">                
        <div class="c-layout-sidebar-content ">
            <div class="row c-margin-b-20">
            <form action="{$pageUrl}" method="get" name="listingSearch" id="filterFormPopup" class="form-inline">
                <fieldset id="body">
                    <fieldset class="movie-list">
                        <label for="email">{$this->Language['sort_by']} :</label>
                        <select name="orderby" id="order_filter"  class="form-control select_movie">
                            <option value="1" {if $orderby == '1'}selected="selected"{/if}>{$this->Language['sort_alpha_a_z']}</option>
                             <option value="2" {if $orderby == '2'}selected="selected"{/if}>{$this->Language['sort_alpha_z_a']}</option>  
                            <option value="3" {if $orderby == '3'}selected="selected"{/if}>{$this->Language['sort_last_uploaded']}</option>
                            <option value="4" {if $orderby == '4'}selected="selected"{/if}>{$this->Language['sort_release_date']}</option>                                                                         
                                                                    
                        </select>
                      <input type="submit" class="btn btn-primary btn-green-small btn-list" value="{$this->Language['btn_ok']}" />
                    </fieldset>
                </fieldset>
            </form>            
            </div>
            <div class="row">
                {assign var="producturl" value=Yii::app()->createUrl("/")}
                {foreach from=$product key=k item=value}
                <div class="col-md-3 col-sm-6 c-margin-b-20">
                    <div class="c-content-product-2 c-bg-white">
                        <div class="c-content-overlay">
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" href="{$producturl}/{$value['permalink']}">{$this->Language['explore']}</a>
                                </div>
                            </div>
                            {assign var="img_path" value=PGProduct::getpgImage($value['id'],'standard')}
                            <div style="height: {$cropDimesion['height']}px; background-image: url('{$img_path}');background-size: {$cropDimesion['width']}px {$cropDimesion['height']}px;" data-height="height" class="c-bg-img-center c-overlay-object"></div>
                        </div>
                        <div class="c-info">
                            <p class="c-title c-font-13 c-font-slim" style="min-height: 47px;">
                                <a href="{$producturl}/{$value['permalink']}">
                                {if $value['name']|count_characters > 30}
                                {$value['name']|substr:0:30}
                                {else}
                                {$value['name']}
                                {/if}
                                </a>
                            </p>
                            {if $value['is_preorder'] == 0}
                            <p class="c-price c-font-14 c-font-slim">
                                {if $value['sale_price'] != 0}
                                {Yii::app()->common->formatPrice($value['sale_price'],$value['currency_id'])}
                                {else}&nbsp;
                                {/if}
                            </p>
                            {else}
                            <p class="c-price c-font-14 c-font-slim">
                                &nbsp;
                            </p>
                            {/if}
                        </div>
                        <div role="group" class="btn-group btn-group-justified">
                            {if $value['status']==1}
                                {if $value['is_preorder'] == 0}
                            <div role="group" class="btn-group c-border-top">
                                <a class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product" href="javascript:void(0);" {if $value['sale_price'] != 0} onclick="showcart({$value['id']}, 1);"{/if} {if $value['sale_price'] == 0}disabled="disabled"{/if}>{$this->Language['add-to-cart']}</a>
                            </div>
                            <div role="group" class="btn-group c-border-left c-border-top">
                                <a class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product" href="javascript:void(0);" {if $value['sale_price'] != 0} onclick="showcart({$value['id']}, 2);"{/if} {if $value['sale_price'] == 0}disabled="disabled"{/if}>{$this->Language['ordernow']}</a>
                            </div>
                                {else}
                                <a class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product" href="javascript:void(0);" {if $value['sale_price'] != 0} onclick="window.location='{$producturl}/{$value['permalink']}'"{/if} {if $value['sale_price'] == 0}disabled="disabled"{/if}>{$this->Language['preoreder_now']}</a>
                                {/if}
                            {elseif $value['status']==3}
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group c-border-top" role="group">
                                    <div class="stockout">{$this->Language['stock_out']}</div>
                                </div>
                            </div>
                            {/if}                    
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
        <div class="product-pagination text-center">
            <nav>
                {$pagination}
            </nav>                        
        </div>
    </div>
</div>

<script type="text/javascript" src="{Yii::app()->getBaseUrl(true)}/common/js/placeholder/holder.js"></script>
{literal}
<script type="text/javascript">
    function showcart(id, flag){
        $('.loader_cart').show();
        var url = '{/literal}{$this->siteurl}{literal}/shop/addtocart';
        $.post(url, {'quantity':1, 'id':id}, function(res){
            if (flag == 2){
                window.location.href = '{/literal}{$this->siteurl}{literal}/shop/cart';
            } else{
                $('.loader_cart').hide();
                //$('html,body').animate({scrollTop:0}, 500);
                $('.round-cart').html(eval($('.round-cart').html()) + 1);
                $('#cartpopup').html(res);
            }
        })
    }
</script>
{/literal}
