.slider-one-wrap{
    position: relative;
}
.slider-one-wrap .slides li video{
	width:100%; display:block;
}
.slider-one-wrap > .flexslider{
    margin-right: 25%;
}
.slider-one-wrap > .thumb-list{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width:25%;
}
.slider-one-wrap > .thumb-list ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.slider-one-wrap > .thumb-list ul li{
    display: block;
    position: relative;
}
.slider-one-wrap > .thumb-list ul li._active:after{
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
    right:0px;
    bottom: 0px;
}
.slider-one-wrap > .thumb-list ul li img{
    display: block;
    width: auto;
    height: 100%;
    position: relative;
    z-index: 1;
}
.slider-one-wrap > .thumb-list .dire-nav{
    position: absolute;
    z-index: 2;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    background:rgba(0,0,0,0.5) center center no-repeat;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    background-size:60%;

}
.slider-one-wrap > .thumb-list .dire-nav:hover{
    background-color:rgba(0,0,0,0.8);
    background-size:70%;
}
.slider-one-wrap > .thumb-list .dire-nav._top{
    top: 0;
    background-image: url(images/up-arrow.png);
    cursor:pointer;

}
.slider-one-wrap > .thumb-list .dire-nav._bottom{
    bottom: 0;
    background-image: url(images/down-arrow.png);
    cursor:pointer;
}

@media all and (max-width:767px){

    .slider-one-wrap > .thumb-list .dire-nav{
        display: none;
    }
}

.slide_text {
	background-color: transparent;
	bottom: 0;
	color: #fff;
	display: block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); /* IE6–IE9 */
	padding: 1em;
	position: absolute;
	width: 100%;
	zoom: 1;
}

.slide_title {
	font-size: 1.5em;
	text-transform: uppercase;
}

.slide_byline {
	font-size: 1em;
	display: block;  
	margin-top : 5px;
	margin-bottom : 5px;
}
.navbar-wrapper{
    position:relative;
}
.thumb-list ul li .slide-image{
    opacity:0.6;
}
.thumb-list ul li._active .slide-image{
    opacity:1;
}
.slide_advance{
    height:100% !important;
}
#background {
	object-fit: cover;
}
.thumb_traditional{
	background: #1e292d none repeat scroll 0 0;
}
.bannerBtn{
	font-size: 14px;
	color: #ffffff;
	font-size: 24px;
	position: relative;
	text-align: left;
	z-index: 999;
	background-color: #2abc99;
	border-radius: 5px;
	color: #ffffff;
	font-weight: 400;
	padding: 4px;
	top: 10px;
	margin-left : 0;
}

.bannerBtn:hover{
	color:#ffffff;
}

.videocontainer{
	height:100%;

}
.butn-banner-mute{
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 40px;
    width:40px;
    background: rgba(255,255,255,0.3);
    cursor:pointer;
    z-index:1;
    border-radius:50%;
    opacity:0;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    color:#000;
    line-height:40px;
    font-size:22px;
}
.butn-banner-mute i._on{
    display:none;
}
.butn-banner-mute._on i{
    display:none;
}
.butn-banner-mute._on i._on{
    display:inline-block;
}
.slides li:hover .butn-banner-mute{
    opacity:0.7;
}
.slides li:hover .butn-banner-mute:hover{
    opacity:1 ;
}
.banner-overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.flexSliderback{
	background:	transparent;
}
