@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  font-family: 'roboto', Helvetica; font-weight: normal;
  padding-top: 20px;
  padding-bottom: 70px;
  background:#374a4e;
  color:#666;
}

.navbar {
  margin-bottom:0px;background:#1e292d;border:0;padding:5px 5px 15px 10px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff; font-size:15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    border-top: 5px solid #2acb99;
    color: #2acb99; font-size:15px;
    margin-top: -5px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #ddd;
}

.dark-green-bg{ background:#1e292d} .dark-green-color{ color:#1e292d}
.green-bg{ background:#374a4e} .green-color{ color:#374a4e}
.light-green-bg{ background:#2acb99} .light-green-color{ color:#2acb99}
.banner-bg{ background:#222c2e}
.top5{ padding-top:5px}.top10{ padding-top:10px} .top20{ padding-top:20px}.top50{ padding-top:50px}.top80{ padding-top:80px}.top100{ padding-top:100px}
.top10-{ margin-top:-10px} .top20-{ margin-top:-20px}.top50-{ margin-top:-50px}.top80-{ margin-top:-80px}.top100-{ margin-top:-100px}
.padding-right-10{ padding-right:10px;}
.left15-{ margin-left:-15px}
.margin-right20{ margin-right:20px;}
.margin-right-search{ margin-right:0px;}
.left-menu-margin{ margin-left:200px}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.wrapper{ padding:0 25px; background:#fff;border-radius: 0 0 4px 4px;}
.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin: 0 5px 20px;
    padding: 0px;
    transition: border 0.2s ease-in-out 0s;
}
.thumbnail a > img, .thumbnail > img {
    width: 100%;border-radius: 4px;
}
.caption h3{margin-top: 0px; margin-bottom:5px;}
.caption p {
    margin: 0 0 3px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}
.play-btn{ background:url(../images/play-icon.png); position:absolute; left:0;right:0;top:0;bottom:0;margin:auto;height:53px; width:53px;}
.play-btn:hover{ background:url(../images/play-icon-hover.png); position:absolute; left:0;right:0;top:0;bottom:0;margin:auto;height:53px; width:53px;}
.play-box{position:relative;}
.play-box img:hover{background:#000; width:100%; height:100%;}
.play-box img{width:100%; border-radius:4px;}

.play-btn-big{ background:url(../images/play-icon-big.png); position:absolute; left:0;right:0;top:0;bottom:0;margin:auto;height:116px; width:116px;}
.play-btn-big:hover{ background:url(../images/play-icon-big-hover.png); position:absolute; left:0;right:0;top:0;bottom:0;margin:auto;height:116px; width:116px;}


.title1{ font-size:28px; border-left:4px #2acb99 solid; color:#666666; font-weight:100;padding-left: 10px;}
.title{ font-size:28px;color:666666; font-weight:100;}
.control-label {color: #666666;font-weight: 100;font-size:28px;}
.form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    height: 45px;
}
.container{
        min-width: 90% !important;
    }
	
/*Search Start-------------*/
#search {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    margin-left: -55px;
}
#search-label {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 20;
}
#search-label label {
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/search2.png") 0 0;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    cursor: pointer;
}
#search-label label:hover {
    background: url("../images/search2.png") -40px 0
}
#search-label.active label {
    background: url("../images/search2.png") -40px 0
}
#input {
    position: absolute;
    top: 0;
    right: 40px;
    width: 250px;
    height: 40px;
    z-index: 5;
    overflow: hidden;
}
#input input {
    display: block;
    position: absolute;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    border: none;
    background-color: #243033;
    color: #fff;
    font-size: 18px;
    -webkit-backface-visibility: none;
    -moz-backface-visibility: none;
    -ms-backface-visibility: none;
    backface-visibility: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: right 0;
    -moz-transition: right 0;
    -ms-transition: right 0;
    -o-transition: right 0;
    transition: right 0;
}
#input input:focus {
    outline: none
}
#input.focus {
    z-index: 20
}
#input.focus input {
    right: 0;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    -o-transition: right 0.3s;
    transition: right 0.3s;
}
/*Search end-------------*/
.thumb-time-line{position:absolute;bottom:0;color:#fff;width:100%; padding:8px 10px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.92+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.92) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.92) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#eb000000',GradientType=0 ); /* IE6-9 */
}
.thumb-bg {
    bottom: 0;
    color: #fff;
    height: 100%;
    padding: 8px 10px;
    position: absolute;
    width: 100%;
	transition: all 0.8s ease;
	background: transparent;
}
	
.thumb-bg:hover{
  background: rgba(0,0,0,0.52);
  padding: 20px;

    bottom: 0;
    color: #fff;
    height: 100%;
    padding: 8px 10px;
    position: absolute;
    width: 100%;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #ccc;color:#eee;
}
a:focus, a:hover {
    text-decoration: none;
}
.border0{ border:0px;}
.banner-thumb{border:0px; margin-top:9.5%;}
.banner-thumb-title{color:#fff; font-size:16px; font-weight:500;}
.border-radius{border-radius: 4px;}
.banner-strip{ background:rgba(0,0,0,0.52); padding:15px 30px 15px 20px; position:absolute;top:0; width:100%; color:#fff; font-size:16px;}
.text-capitalize{ text-transform:uppercase}
.padding5{padding:5px !important;}

.banner-bottom-line{position:absolute;bottom:0;color:#fff;width:100%; padding:18px 20px; font-weight:normal;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.92+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.92) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.92) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.92) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#eb000000',GradientType=0 ); /* IE6-9 */
}

.banner-bottom-line h2{font-weight:lighter; font-size:36px;}
.gener-light{color:#bbb}
.font18{ font-size:18px} .font16{ font-size:16px} .font14{ font-size:14px} .font22{ font-size:22px} .font24{ font-size:24px}
.thin{ font-weight:300 !important;}
	 
	
	
	
	

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
	margin-top:20px;
}



ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

.footer{ padding:20px 0px;border-top:1px #CCC solid;margin: 30px -25px; }
/*-------------------------Footer menu-------------------------*/
.bottom_ul {
    float: right;
    list-style-type: none;
    margin-bottom: 0;
}
.bottom_ul li {
    float: left;
    line-height: 40px;
}
.bottom_ul li::after {
    color: #424242;
    /*content: "|";*/
    margin-left: 18px;
    margin-right: 18px;
}
.bottom_ul li a {
    color: #424242;
    font-size: 12px;
	font-weight:500;
	 padding: 0 15px;
}
.bottom_ul li a:hover {
    color: #2acb99;
}



/*Pop up Box Start */

.remodal-bg.with-red-theme.remodal-is-opening,
    .remodal-bg.with-red-theme.remodal-is-opened {
      filter: none;
    }

    .remodal-overlay.with-red-theme {
      background-color: #f44336;
    }

    .remodal.with-red-theme {
      background: #fff;
    }
.devider{ height:1px; background:#eee; width:100%; margin-top:10px; margin-bottom:40px;}
.devider2{ height:1px; background:#eee; width:80%; margin:20px auto;}
/*Pop up Box end */

.input-group .icon-addon .form-control {
    border-radius: 0;
}
.icon-addon {
    color: #555;
    display: block;
    position: relative;
}
.icon-addon::after, .icon-addon::before {
    content: " ";
    display: table;
}
.icon-addon::after {
    clear: both;
}
.icon-addon.addon-md .glyphicon, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon .fa {
    float: left;
    font-size: 14px;
    left: 10px;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 20px;
    z-index: 2;
}
.icon-addon.addon-lg .form-control {
    height: 46px;
    line-height: 1.33;
    padding: 10px 30px 10px 40px;
}
.icon-addon.addon-sm .form-control {
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px 5px 28px;
}
.icon-addon.addon-lg .fa, .icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    top: 4px;
}
.icon-addon.addon-md .form-control, .icon-addon .form-control {
    float: left;
    font-weight: normal;
    padding-left: 30px;
}
.icon-addon.addon-sm .fa, .icon-addon.addon-sm .glyphicon {
    font-size: 12px;
    left: 5px;
    margin-left: 0;
    top: -1px;
}
.icon-addon .form-control:focus + .glyphicon, .icon-addon:hover .glyphicon, .icon-addon .form-control:focus + .fa, .icon-addon:hover .fa {
    color: #2acb99;
}



.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 12px 50px;
}
.btn-primary {
    background-color: #2acb99;
    border-color: #2acb99;
    color: #fff;border-radius: 0px;
}
.btn-primary:hover {
    background-color: #0b8f66;
    border-color: #0b8f66;
    color: #fff;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    background-color: #0b8f66;
    border-color: #0b8f66;
    color: #fff;
}
.form-control {
    background-color: #ffffff;
    background-image: none;
    border:0px solid #eee;
	border-bottom:1px solid #eee;
    border-radius: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    height: 45px;
}
.form-control:focus {
    border-color: #0b8f66;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.00) inset, 0 0 8px rgba(102, 175, 233, 0.0);
    outline: 0 none;
}
.form-control-border{
    background-color: #ffffff;
    background-image: none;
    border:1px solid #eee;
	border-bottom:1px solid #eee;
    border-radius: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    height: 45px;
}
.relative{position:relative}
.poster img{ border:1px #eee solid; border-radius:4px;}
.poster-title{ font-size:36px; color:#2acb99; margin-top:0px; font-weight:300}

.cast {
    padding-bottom: 10px;
}
.cast p {
    font-size: 14px;
}
.cast img {
    float: left;
    font-size: 14px;
    margin-right: 20px;
}
.gray {
    color: #a7a6a6 !important;
}
.feature-banner {
    background: rgba(0, 0, 0, 0) url("../images/feature-banner.jpg") no-repeat fixed center top / cover ;
    overflow: hidden;
    width: 100%;
}
.overlay-img {
    background: rgba(42, 203, 153, 0.66) none repeat scroll 0 0;
    padding-bottom: 40px;
    padding-top: 30px;
    width: 100%;
}
.white{color:#fff; font-weight:normal}
.left20{ padding-left:20px;}

.billed-box {
    background: transparent none repeat scroll 0 0;
    border-radius: 4px;
    margin: 10px;
	margin-top:50px;
    padding-bottom: 15px;
    text-align: center;
	border: 2px solid #2acb99;
}
.billed-box .tick-icon {
	background:url("../images/tick.png");
    height: 50px;
    margin: -26px -23px 0;
    position: absolute;
    width: 50px;
}
.billed-box h3 {
    font-weight: 400;color: #2acb99;
}
.billed-box2 {
    background: transparent none repeat scroll 0 0;
    border-radius: 4px;
    margin: 10px;
	margin-top:50px;
    padding-bottom: 15px;
    text-align: center;
    border: 2px solid #ddd;
}
.border-right{ border-right:1px solid #eee;}
.bottom50{ margin-bottom:50px;}
.bottom100{ margin-bottom:100px;}
.contact-box{color:#fff; background:#2acb99; padding:20px; font-size:16px;}
.profile{ border:3px solid #fff; margin:auto; margin-top:-70px; width:220px; z-index:9999 !important;}

.banner-btn{position:absolute; left:0;right:0;top:0;bottom:0;margin:auto;z-index:999;height:48px; width:410px}
.banner-bottom-line{padding:24% 40px;}

.blog_desc {font-weight: 300;padding-top: 20px;}
.bottom10{padding-bottom:10px;}
label {font-weight: 400;}
#address_details {
    border-top: 1px solid rgba(135, 151, 174, 0.15);
}
.delete {
    background: #e40000 !important;
    border: 1px solid #e40000;
    font-size: 12px;
    margin-right: 5px;
}
.delete:hover { background-color: #bc0808 !important;border-color: #bc0808 !important;color: #fff;}
.btn-cart {margin-bottom: 1px;}
.banner-btn {bottom: 0;height: 48px;left: 0;margin: auto;position: absolute;right: 0;top: 0;width: 410px;z-index: 999;}
.icon-handbag.c-cart-icon {font-size: 22px;}
.cart_icon_parent {
    margin-right: 10px;
}
#round-cart {
    background: #2abc99 none repeat scroll 0 0;
    border-radius: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    height: 22px;
    left: 10px;
    margin-left: 17px;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 24px;
    z-index: 999;
}
.icon-handbag.c-cart-icon {
    font-size: 22px;
}
.cart-btn {
    background: #2acb99 !important;
    border-radius: 2px !important;
    color: #fff;
    margin-left: 0;
    padding: 7px 25px;
}
.order-now {
    background: #999999 !important;
    border-radius: 2px !important;
    color: #fff;
    padding: 7px 25px;
}
.wrapper_transaction {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 0 0 4px 4px;
    padding: 0 25px;
}
table.shop_table {
    margin-bottom: 50px;
    margin-left: 1px;
    width: 100%;
}
table.shop_table th {
    background: #f4f4f4 none repeat scroll 0 0;
    font-size: 11pt;
    text-transform: uppercase;
    width: 10%;
}
table.shop_table th, table.shop_table td {
     border: 1px solid #ddd;
    padding: 0;
    text-align: center;
	padding:10px 0px;
}
.product-invoice {
    border-right: 1px solid #dddddd;
}
.card_info_table {
    margin-left: 24px !important;
    width: 96% !important;
}
table.card_info_table th, table.card_info_table td {
    width: 3% !important;
}
.pgwSlider .ps-caption{
    font-size:16px;
    font-weight:normal;
}